<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Lead Manager</title>
<meta name="author" content="www.daab.co">
<meta http-equiv="cleartype" content="on">
<link rel="stylesheet" href="css/dblnkd.css" media="all">
<link rel="stylesheet" href="css/lm-menu.css" media="all">
<link rel="stylesheet" href="css/lm-content.css" media="all">

<link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<div class="ml-container">
	<div class="lead-box">
		<div class="lead-head">
			<div class="lead-name">
				<p>Leads - {{Concesionario nombre corto}}</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<form>
			<div class="lead-section db-mes-section">
				
				<div class="db-mes-class c-m-id-0">Enero</div>
				<div class="db-mes-class c-m-id-1">Febreo</div>
				<div class="db-mes-class c-m-id-2">Marzo</div>
				<div class="db-mes-class c-m-id-3">Abril</div>
				<div class="db-mes-class c-m-id-4">Mayo</div>
				<div class="db-mes-class c-m-id-5">Junio</div>
				<div class="db-mes-class c-m-id-6">Julio</div>
				<div class="db-mes-class c-m-id-7">Agosto</div>
				<div class="db-mes-class c-m-id-8">Septiembre</div>
				<div class="db-mes-class c-m-id-9">Octubre</div>
				<div class="db-mes-class c-m-id-10">Noviembre</div>
				<div class="db-mes-class c-m-id-11">Diciembre</div>
				
				<div class="clearfix"></div>
			</div>
			<div class="lead-section">
				<div class="lead-sub-section">
					<h3>Filtro Año</h3>
					<select required="">
					 	<option selected="">2017 [año actual]</option>
					 	<option>2016</option>
					</select>
				</div>
				<div class="lead-sub-section">
					<h3>Filtro estado</h3>
					<select required="">
						<option selected="">todos</option>
					 	<option>No contesto</option>
					 	<option>....</option>
					 	<option>....</option>
					 	<option>....</option>
					 	<option>....</option>
					</select>
				</div>
				<div class="lead-sub-section">
					<h3>Buscador</h3>
					<input type="" name=""/>
					
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="lead-section">
				<div class="lead-sub-section">
					<h3>Filtro Concesionario [solo Marca/conglomerado]</h3>
					<select required="">
					 	<option selected="">Todos</option>
					</select>
				</div>
				<div class="lead-sub-section">
					<h3>Filtro Asesor [solo concesionario]</h3>
					<select required="">
						<option selected="">todos</option>
					</select>
				</div>
				<div class="clearfix"></div>
			</div>
			
		</form>

		<div class="lead-section lm-lead-section">
			
			<div class="db-lead-row db-row-title">
				<div class="db-col">Estado</div>
				<div class="db-col">Fecha</div>
				<div class="db-col">Modelo</div>
				<div class="db-col">Origen</div>
				<div class="db-col">Nombre</div>
				<div class="db-col">Apellido</div>
				<div class="db-col"></div>
			</div>
			<div class="db-row-spacer"></div>

			<div class="db-lead-row">
				<div class="db-col">[O] Estado</div>
				<div class="db-col">2017/00/00</div>
				<div class="db-col">Gol</div>
				<div class="db-col">Origen</div>

				<div class="db-col">Annnnnnna Mariiiiiiiiiiiiia</div>
				<div class="db-col">Corrreeeettjja Moooorrraaaaaaaaa</div>
				<div class="db-col lead-bttn-col">Gestionar</div>
			</div>
			<div class="db-row-spacer"></div>

			<div class="db-lead-row">
				<div class="db-col">[O] Estado</div>
				<div class="db-col">2017/00/00</div>
				<div class="db-col">Gol</div>
				<div class="db-col">Origen</div>
				<div class="db-col">Annnnnnna Josseee joseeefina</div>
				<div class="db-col">Corrreeeettjja Moooorrraaaaaaaaa</div>
				<div class="db-col lead-bttn-col">Gestionar</div>
			</div>
			<div class="db-row-spacer"></div>

			<div class="db-lead-row">
				<div class="db-col">[O] Estado</div>
				<div class="db-col">2017/00/00</div>
				<div class="db-col">Gol</div>
				<div class="db-col">Origen</div>
				<div class="db-col">Annnnnnna Josseee joseeefina</div>
				<div class="db-col">Corrreeeettjja Moooorrraaaaaaaaa</div>
				<div class="db-col lead-bttn-col">Gestionar</div>
			</div>
			<div class="db-row-spacer"></div>

		</div>
		<div class="lead-section">
				<div class="lead-sub-section">
					<h3>Numero Leads por pagina</h3>
					<select required="">
					 	<option selected="">10</option>
					 	<option selected="">50</option>
					 	<option selected="">100</option>
					</select>
				</div>
				<div class="lead-sub-section db-pags">
					<h3>Páginas</h3>
					<div>[Painacion]</div>
					
				</div>
				<div class="clearfix"></div>
			</div>
	</div>
</div>

<div class="db-wrapper-menu">
    <div class="db-deco0"></div>
    <div class="db-bttn db-active"><div class="db-bttn-ico"></div><img src="images/ico-leads.jpg" /></div>
    <div class="db-bttn"><div class="db-bttn-ico"></div><img src="images/ico-down.jpg" /></div>
    <div class="db-bttn"><div class="db-bttn-ico"></div><img src="images/ico-estad.jpg" /></div>
    <div class="db-bttn"><div class="db-bttn-ico"></div><img src="images/ico-config.jpg" /></div>
    <div class="db-bttn"><div class="db-bttn-ico"></div><img src="images/ico-logout.jpg" /></div>
    <div class="db-deco1"></div>
    <div class="clearfix"></div>
</div>

<script type="text/javascript">
	$(document).ready(function(){

		var currentMonth = 3; //Mes actual = Abril//

		$(".c-m-id-"+ currentMonth).addClass("m-active")

		for (var i = 0; i < 12; i++) {
			$(".c-m-id-"+ i).data("fuu", i)
			$(".c-m-id-"+ i).click(function(){
				if ( $(this).hasClass("m-active") ) return;
				currentMonth = $(this).data("fuu")
				$(".db-mes-section").children().removeClass("m-active")
				$(this).addClass("m-active")

				/*Funcion Cambio de mes con loader*/

			})
		}

	});
	
</script>

</body>
</html>