.maps-conc{
  display: none;
}

.maps-placer {
  position: relative;
  display: inline-block;
  width: 54%;
  padding-bottom: 45%;
  box-sizing: border-box;
  margin-left: 4%;
  vertical-align: top;

}
.map-container{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444444;
}

.maps-placer-bttn{
  width: 36%;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 45%
}

.map-bttn-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}
.map-bttn{
  width: 100%;
  background-color: #f3f5f6;
  border: 1px solid #dee1e3;
  box-sizing: border-box;
  padding:2% 5%;
  display: none;
}

.filtro-cc{
  display: block;
}

.map-bttn h4{
  font-family: "VW Text", arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-align: left;
}

.maps-extras {
  width: 47%;
  margin: 2% 2% 0 0; 
  float: left;
  box-sizing: border-box;
  padding: 2% 4%;
  border: 2px solid #cccccc;
}

.result-geopos{
  display: none;
  float: right;
}

.maps-extra-ico{
  position: relative;
  width: 17%;
  margin: 0 auto; padding: 0 0 0% 0;
  box-sizing: border-box;
  line-height: 0;
}

h5 {
  font-family: inherit;
  font-size: 12px;
  color: #000000;
  font-weight: 600;
  padding-bottom: 2%;
  font-weight: bolder;
  text-align:center;
  box-sizing: border-box;
}

.map-bttn p{
  font-family: "VW Text", arial, sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: normal;
  color: #888888;
}

.active-marker{
  background-color: #0099dc;
  color:#FFFFFF;
}

.active-marker h4, .active-marker p{
  color: #FFFFFF;
}



@media screen and (min-width: 1399px) {
   /* big screens*/
  
}

@media only screen and (max-width: 1200px) and (orientation: landscape){
  /* and (orientation: landscape) */
}

@media only screen and (max-width: 1024px) and (orientation: portrait){
  /* and (orientation: portrait) */
  

}

@media only screen  and (max-width: 568px) and (orientation: landscape){ 
  /* and (orientation: landscape) */
  .maps-extras {
    width: 90%;
    margin-right: 0%;
  }

  .maps-placer {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    left: 0;
    top: 0;

  }
  .map-container{
    width: 1%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #444444;
  }

  .maps-placer-bttn{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 45%
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
  }

  .result-geopos{float: left;}

}

@media only screen and (max-width: 540px) { 
  /*and (orientation: portrait) */
  .maps-extras {
    width: 90%;
    margin-right: 0%;
  }

  .maps-placer {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    left: 0;
    top: 0;

  }
  .map-container{
    width: 1%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #444444;
  }

  .maps-placer-bttn{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 45%
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
  }

  .result-geopos{float: left;}
  
}