.db-hero {
  position: relative;
  width: 100%;
  margin: 0;
  background-color: #808890;
  padding: 2% 0% 2% 6%;
  overflow: hidden;
  box-sizing: border-box;
}

.nuller{
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  cursor: default;
}

.header-title{
  width: 40%;
  position: absolute;
  top: 25%;
  left: 12%;
  display: none;
}

.exchange_img{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper-titles{
  position: relative;
  width: 50%;
  padding: 0 0 0 0;
  background-color: transparent;
  box-sizing: border-box;
}

.db-section{
  padding: 3% 6% 2%;
  box-sizing: border-box;
}

.db-models{
  background-color: #f3f5f6;
}

h2{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  text-align: left;
  font-family: "VW Head", Arial, sans-serif;
  font-weight: bold;
}

h2 span{  font-size: 44px; line-height: 46px; font-family: inherit;}

.w-t-w h2{
  color: #FFFFFF;
}

.car-model{
  float: left;
  width: 19%;
  margin: 0 0% 0 0;
}

.hover {
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4;
}

.hover:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  cursor: pointer;
}

.car-model p{
   font-family: "VW Head",sans-serif;
   font-family: 24px;
   font-weight: bold;
   line-height: 26px;
   color: #000000;
   text-align: center;
}

.title-bttn-models{
  background-color: #f3f5f6;
  margin: 0;
  text-align: left;
  box-sizing: border-box;
  display: table;
}

.title-bttn-models img{
  vertical-align: middle;
}

.stBttn:hover .title-change {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.stBttn:hover{
  background-color: #fafdfe;
}

.stNull{
  cursor: default;
  border-bottom: 1px solid #dadcdc;
  background-color: #eaecec;
}

.stBttn{
  cursor: pointer;
  border-bottom: 1px solid #dee1e3;
  background-color: #f3f5f6;
}

.title-text{
  position: relative;
  font-family: "VW Head", Arial, sans-serif;
  font-size: 34px;
  line-height: 36px;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  white-space: nowrap;
}

.title-text span{
  position: relative;
  font-family: "VW Head", Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  vertical-align: middle;
  box-sizing: border-box;
  white-space: nowrap;
  color: #0099da;
}

.stNormal .title-text {
  color: #000000;
  display: block;
  width: 100%;
  text-align: center;
}

.stBttn .title-text {
  color: #000000;
  width: 1%;
  text-align: center;
  display: table-cell;
}

.stNull .title-text {
  color: #dadcdc;
  width: 100%;
  text-align: center;
  display: block;
}

.stNull .title-text span{
  color: #dadcdc;
}

.title-models{
  display: none;
  width: 150px;
}

.stNormal .title-models {
  display: none;
}

.stNull .title-models {
  display: none;
}

.stBttn .title-models {
  display: table-cell;
  -webkit-animation:bounce 2s forwards;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

@-webkit-keyframes bounce {
  20%{ opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0; }
  100% { opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;}
}

.title-change{
  display: none;
  font-family: "VW Text", Arial, sans-serif;
  font-weight: bold;
  color: #0099dc;
  font-size: 18px;
  line-height: 30px;
  box-sizing: border-box;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5;
  text-align: center;
  margin-left: 0;
  vertical-align: middle;
}

.stNormal .title-change{
  display: none;
}

.stBttn .title-change{
  display: table-cell;
}

.stNull .title-change{
  display: none;
}

.title-ico {
  width: 7%;
  display: none;
  vertical-align: middle;
  text-align: right;
}

.stNormal .title-ico {
  display: none;
}

.stBttn .title-ico {
  display: table-cell;
}

.stNull .title-ico {
  display: none;
}

.bttn-volver {
  display: none;
  width: 40%;
  box-sizing: border-box;
  margin-top: 2%;
}

.radio-group input ,   .radio-group select, .radio-group option{
  width: auto;
  box-sizing: border-box;
  margin-top: 10px;
}

.radio-group {
  font-size: 12px;
  color: #888888 !important;
  font-family: Arial, sans-serif;
}

@media screen and (min-width: 1399px) {
   /* big screens*/
   .title-text{
      font-size: 40px;
      line-height: 42px;
       /*white-space: normal;*/
    }

    .title-models{
      width: 250px;
    }
  
}

@media only screen and (max-width: 1200px) and (orientation: landscape){
  /* and (orientation: landscape) */
}

@media only screen and (max-width: 1024px) and (orientation: portrait){
  /* and (orientation: portrait) */
   .car-model{
      width: 45%;
    }

    .header-title{
        display: block;
    }

    .wrapper-titles{
      display: none;
    }

    .title-text{
      font-size: 20px;
      line-height: 22px;
      white-space: normal;
      box-sizing: border-box;
      padding-right: 10%;
    }

    .stBttn .title-text{
      text-align: left;
    }

    .stBttn{
      background-image: url("../images/edit-butt.png");
      background-repeat: no-repeat;
      background-position: center right;
      background-size: 15%;
    }

    .stBttn .title-ico{
      display: none;
    }


    .stBttn .title-models{
      width: 50%;
      display: inline-block;
    }

    .stBttn .title-change{
      display: none;
    }

}

@media only screen  and (max-width: 568px) and (orientation: landscape){ 
  /* and (orientation: landscape) */
   .car-model{
      width: 45%;
    }

     .header-title{
      display: block;
    }

    .wrapper-titles{
      display: none;
    }


    .title-text{
      font-size: 20px;
      line-height: 22px;
      white-space: normal;
      box-sizing: border-box;
      padding-right: 10%;
    }

    .stBttn .title-text{
      text-align: left;
    }

    .stBttn{
      background-image: url("../images/edit-butt.png");
      background-repeat: no-repeat;
      background-position: center right;
      background-size: 15%;
    }

    .stBttn .title-ico{
      display: none;
    }


    .stBttn .title-models{
      width: 50%;
      display: inline-block;
    }

    .stBttn .title-change{
      display: none;
    }

}

@media only screen and (max-width: 540px) { 
  /*and (orientation: portrait) */
    .car-model{
      width: 45%;
    }

     .header-title{
      display: block;
    }

    .wrapper-titles{
      display: none;
    }

    .title-text{
      font-size: 20px;
      line-height: 22px;
      white-space: normal;
      box-sizing: border-box;
      padding-right: 10%;
    }

    .stBttn .title-text{
      text-align: left;
    }

    .stBttn{
      background-image: url("../images/edit-butt.png");
      background-repeat: no-repeat;
      background-position: center right;
      background-size: 15%;
    }

    .stBttn .title-ico{
      display: none;
    }


    .stBttn .title-models{
      width: 50%;
      display: inline-block;
    }

    .stBttn .title-change{
      display: none;
    }

 
  
}