abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;box-sizing: border-box;background:0 0}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0}button,input[type=submit],input[type=reset],input[type=button]{background:0 0;border:0;color:inherit;font:inherit;line-height:normal;overflow:visible;padding:0;-webkit-appearance:button;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}[role=button]{color:inherit;cursor:default;display:inline-block;text-align:center;text-decoration:none;white-space:pre;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}a{line-height:0}img{width:100%}.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}

body{font-family:"Roboto", Helvetica,sans-serif;background-color:#9ACFE1;box-sizing: border-box; color: #000000; font-size: 13px;font-weight: 200; line-height: 15px}


p{font-family: 'Roboto', sans-serif;
font-weight: normal;
font-size: 14px;
color:#888888;
line-height: 18px}

span{font-family: 'Roboto', sans-serif;
font-weight: normal;
font-size: 9px;
color:#EE625C;
line-height: 11px}

h1{font-family: 'Roboto', sans-serif;
font-weight: 200;
font-size: 28px;
color:#EE625C;
line-height: 34px}

h2{font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 18px;
color:#000000;
line-height: 20px;
}

label{
	text-align:left;
}

input{
	position: relative;
	display: block;

	width: 100%;
	padding: 10px 20px;
	background-color: #EE625C;
	border: 1px solid #888888;

	text-align: left;
}

.form-group{
	text-align: left;
}

.bg {
	background-repeat: no-repeat;
	background-position: center center;
}

.wrapper {
	position: relative;

	width: 100%;
	min-height: 100vh;
	padding-top: 10%;

	background-color: #FFFFFF;
	background-image: url("mobile/images/header/ico-patter2-white.png");
	background-repeat: repeat;
	background-size: 50px;

	text-align: center;
	vertical-align: middle;

}




.loglm_logo{
	width: 15%;
	margin: 0 auto 5% auto;
	padding-bottom: 15%;

	background-image: url("mobile/images/header/logo-lm.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center center;

}




.loglm_logbox{
	position: relative;
	display: block;

	background-color: #f1f1f1;
	width: 80%;
	padding: 40% 5% 5% 5%;
	margin: 0 auto 5% auto;


	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;

	border: 1px solid #CCCCCC;
}

.logheader {
	position: absolute;
	top: 0; left: 0; 
	display: block;

	background-color: #CCCCCC;
	width: 100%;
	padding-bottom: 31%;
	margin: 0;

	background-image: url("mobile/images/header/vw-header.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: top center;


	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-khtml-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 10px 0 0;
	border-bottom: 1px solid #CCCCCC;
}




.bg-azul{
	background: #FFFFFF;
}

.bg-blanco{
	background: #FFF;
}

.color-azul{
	color:  #9ACFE1;
}

.color-rojo{
	color: #DD5A54;
}

.color-blanco{
	color: #FFF;
}

.h100{
	height: 100vh;
}

.h25{
	height: 25vh;

}

.h35{
	height: 35vh;

}

.h45{
	height: 34vh;
	margin-top: 3vh;
	margin-bottom: 3vh;
}

.parent {
	position: relative;
}

.center-height {
    position: absolute;
    margin-top: 35%;
    margin-left: 10%;
    width: 50%;
}

.daaboton{
	border-radius:0;
	background: #EB5650;
	color: #FFF;
	border-color: #EB5650;
	padding-left: 10%;
	padding-right: 10%;

	margin: 0 auto;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}


.daab-a{
	color: #9ACFE1;
	text-decoration: underline;
}

.figux-container{
	margin-left: 8%;
	padding-top: 50px;
}

.main-sidebar {
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 0;
    z-index: 810;
    padding-left: 0 !important;
    width: 70px;
}

.item-menu{
	height: 7vh;
	width: 100%;
	margin-top: 2vh;
	margin-bottom: 2vh;
	background: #FFF;
}

table{
	width: 100%;
	border-collapse: separate;
  	border-spacing: 5px 5px;
}

td{
	background: #FFF;
	text-align: left;
	padding: 10px;
}

th{
	background: #FFF;
	color: #DD5A54;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.transparente{
	background: transparent;
}

.text-center{
	text-align: center;
}

.pt-15{
	padding-top: 15px;
}

.pb-15{
	padding-bottom: 15px;
}

.mt-30{
	margin-top: 30px;
}

.item-menu-active{
	border-left: 8px solid #eb5650;
	width: 140%;
}

.item-nav{
	font-size: 1.8em;
    padding-left: 14px;
    padding-top: 22%;
}

.pl-15{
	padding-left: 15px;
}

.item-nav a{
	color: #eb5650;
}

.clear{
	clear: both;
}

.form-control{
	border-radius: 0;
}

.transparente a{
	width: 100%;
}

.no-p{
	padding: 0;

}

.pagination-div{
	margin: 20px 0;
	padding: 6px 12px;
}

.bottom{
	position: absolute;
	bottom: 30px;
	width: 80%;
}

.est{
	font-size: 4em;
	color: #eb5650;
}

.ml-20{
	margin-left: 20px;
}

.mt-10{
	margin-top: 10px;
}

.p-30{
	padding: 30px;
}

.p-10{
	padding: 10px;
}

.p-30-b-5{
	padding-top: 30px;
	padding-bottom: 5px;
}

.mb-5{
	margin-bottom: 5px;
}

.mb-30{
	margin-bottom: 30px;
}

.row-data{
	margin-left: 20px; 
	margin-right: 20px;
	margin-bottom: 5px;
	background: #FFF;
}

.row-data h3{
	margin-top: 2px;
}

.big-buton{
	background: #eb5650 none repeat scroll 0 0;
    border-color: #eb5650;
    border-radius: 0;
    color: #fff;
    width: 100%;
    line-height: 5;
    margin-left: 15px;
    min-height: 100px;
    width: 100%;

}

.mb-15{
	margin-bottom: 5px;
}

strong{
	color: #000;
	font-weight: lighter;
}

.titulo{
	font-size: 1.6em;
	margin-top: 5px;
}

.pb-5{
	padding-bottom: 7px;
}

.pt-5{
	padding-top: 7px;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    bottom: 0;
    height:     100%;
    height: 100vh;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) url('../images/loading.gif') 50% 50% no-repeat;
}

.activeF{
	background: #EA5650;
	color: #FFF;
}

#divBuscador label, #divPaginador label{
	font-size: 11px;
}

#divPaginador select{
	width: 48%;
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
	.wrapper {
		background-size: 90px;
		padding-top: 5%;
	}

	.loglm_logo{
		width: 3%;
		margin: 0 auto 3% auto;
		padding-bottom: 3%;

	}

	.loglm_logbox{
		width: 30%;
		padding: 11% 2% 2% 2%;
		margin: 0 auto 0 auto;
	}
}
