html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}

body{
font-family: "Roboto", Arial, Helvetica, sans-serif;
background-color: #9ACFE1;
}

a {line-height: 0}

img {
	width: 100%;
}

select, option { width: 99%; }

select {
    border: 1px solid #FFFFFF;
    background-color: #dff4fa;
    color: #000000;
    font-size: 12px;
    padding:10px;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: bold;
    font-weight: 300;
    width: 90%;
    /*background: url("../images/2e3ybe1.jpg") no-repeat right center;*/
}

option {
	color: #000000;
}

input {
	width: 100%;
	font-size: 14px;
	background-color: #dff4fa;
    border: 1px solid #FFFFFF;
    padding:10px;
    box-sizing: border-box;
    color: #000000 !important;
    font-weight: bold;
    font-family: inherit;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}

::-webkit-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000000;
}

::-moz-placeholder {
  opacity: 1;
}

input.text {
    border: 1px solid #FFFFFF;
    color: #000000 !important;
    font-family: inherit;
}

input.error {
    background: #eea1a2;
    color: #dd0000;
    font-family: inherit;
}
label.error {
    color: #dd0000;
    font-size: 14px;
    font-family: inherit;
}

sup {font-size:0.5em; vertical-align:super;}

.radio-group input ,   .radio-group select, .radio-group option{
	width: auto;
	box-sizing: border-box;
	margin-top: 10px;
}

.radio-group {
	font-size: 12px;
	color: #000000 !important;
	font-family: inherit;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.rounded-corners {
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.spiner-loader {
	display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../images/vw-spiner.png");
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media screen and (min-width: 1400px) {
   	
}

@media only screen and (max-width: 1200px) {
  /* and (orientation: landscape) */
}

@media only screen and (max-width: 1024px) {
  /* and (orientation: portrait) */
	
}

@media only screen  and (max-width: 568px){ 
  /* and (orientation: landscape) */

}

@media only screen and (max-width: 540px) { 
  /*and (orientation: portrait) */
  
}