.ml-container {
  position: relative;
  width: 89%;
  box-sizing: border-box;
  margin: 3% auto 5% 7%;
}

.lead-icon {
  display: inline-block;
  position: relative;
  width: 20%;
}

.lead-head{
  background-color: #ea5650;
  width: 100%;
  box-sizing: border-box;
  padding: 2% 3% 1.5%;
  vertical-align: top;
}

.lead-name{
  padding: 1% 0;
  margin-bottom: 1%;
  border-bottom: 2px solid #d04d47;
}

.lead-name p{
  font-family: inherit;
  font-size: 36px;
  font-weight: 300;
  color: #FFFFFF;
  margin-right: 3%;
  display: inline-block;
}

.lead-stars{
  position: relative;
  width: 13%;
  box-sizing: border-box;
  display: inline-block;
}

.lead-star{
  width: 33%;
  position: relative;
  float: left;
  box-sizing: border-box;
  line-height: 0;
  cursor: pointer;
}

.lead-star img{
  width: 100%;
  line-height: 0;
  box-sizing: border-box;
}

.starbox{
  position: absolute;
  top: 0; left: 0; bottom: 0;
  background-color: #FFFFFF;
  border: 2px solid #ea5650;
  box-sizing: border-box;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.starbox-hover{
  position: absolute;
  top: 0; left: 0; bottom: 0;
  border: 2px solid #ea5650;
  box-sizing: border-box;
  background-color: #000000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2;

}

.active-star-0{width: 33%}
.active-star-1{width: 66%}
.active-star-2{width: 99%}
.hover-star-0{width: 33%}
.hover-star-1{width: 66%}
.hover-star-2{width: 99%}

.lead-sub-head {
  float: left;
  width: 33%;
  box-sizing: border-box;
  padding: 0 2% 0 0;
  color: #f5b7b5;
  font-family: inherit;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

.lead-section {
  background-color: #FFFFFF;
  width: 100%;
  box-sizing: border-box;
  padding: 1.5% 3% 1.5%;
  border-bottom: 1px dashed #9ACFE1;
}

.lead-sub-section {
  float: left;
  width: 33%;
  box-sizing: border-box;
  padding: 0 2% 0 0;
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
}

.lead-sub-section span {
  font-family: inherit;
  font-weight: 700;
  color: #dd0000;
}

.lead-fecha{
  float: right;
}

.lead-sub-section h3{
  color: #000000;
  font-family: inherit;
  font-size: 11px;
  line-height: 14px;
  font-weight: 200;
  text-align: left;
}

.lead-fecha h3{
  text-align: right;
}


.lead-sub-head a{
  text-decoration: underline;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF
}

.lead-bttn {
  padding: 1%;
  position: relative;
  background-color: #ea5650;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 500;
  text-align: center;
  width: 20%;
  float: left;
  box-sizing: border-box;
  margin-right:2%;
  cursor: pointer;
  border: 0;
}

.lead-bttn:hover .bttn-effect{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;

}

.bttn-effect{
  position: absolute;
  width: 100%;
  top: 0;left: 0; bottom: 0;
  background-color: #FFFFFF;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4;
  box-sizing: border-box;
}

.lm-time-line {
  margin-top: 3%;
  box-sizing: border-box;
}

.lm-time-line .lead-sub-section{
  width: 80%;
}

.lm-time-line .lead-bttn{
  width: 20%;
  margin: 0;
  float: right;
}


@media screen and (min-width: 1399px) {
   /* big screens*/
}

@media only screen and (max-width: 1200px){
  /* and (orientation: landscape) */
}

@media only screen and (max-width: 1024px){
  /* and (orientation: portrait) */

}

@media only screen  and (max-width: 568px){ 
  /* and (orientation: landscape) */

}

@media only screen and (max-width: 540px){ 
  /*and (orientation: portrait) */
  .ml-container {
    position: relative;
    width: 94%;
    box-sizing: border-box;
    margin: 20% auto 7% 3%;
  }
  
}