.db-wrapper-menu {
  position: fixed;
  top: 0; left: 0; bottom: 0;
  height: 100vh;
  width: 4%;
}

.db-deco0 {
  background-color:  #FFFFFF;
  position: relative;
  width: 80%;
  padding-bottom: 300%;
  box-sizing: border-box;
}
.db-deco1 {
  background-color:  #FFFFFF;
  position: relative;
  margin-top: 10%;
  width: 80%;
  padding-bottom: 300%;
  height: 100vh;
  box-sizing: border-box;
}

.db-bttn {
  position: relative;
  width: 100%;
  margin-top: 10%;
  box-sizing: border-box;
  line-height: 0;
}

.db-bttn:hover .db-bttn-ico{
  width: 19%;
}

.db-bttn:hover img{
  margin-left: 19%;
}

.db-bttn img {
  width: 80%;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.db-bttn-ico {
  position: absolute;
  top: 0; left:0; bottom: 0;
  width: 0%;
  background-color: #ea5650;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.db-active img{
  margin-left: 19%;
}

.db-active .db-bttn-ico{
  width: 19%;
}

@media screen and (min-width: 1399px) {
   /* big screens*/
}

@media only screen and (max-width: 1200px){
  /* and (orientation: landscape) */
}

@media only screen and (max-width: 1024px){
  /* and (orientation: portrait) */
  

}

@media only screen  and (max-width: 568px){ 
  /* and (orientation: landscape) */
  

}

@media only screen and (max-width: 540px){ 
  /*and (orientation: portrait) */
  .db-wrapper-menu {
    height: 7%;
    width: 100%;
    padding-bottom: 4%;
    background-color: #9ACFE1;
}

.db-deco0 {
  float: left;
  width: 2%;
  padding-bottom: 13%;
  margin-right: 2%;
}

.db-deco1 {
  overflow: hidden;
  margin-top: 0;
  padding-bottom: 13%;
  margin-left: 2%;
  box-sizing: border-box;
  height: auto;
  width: auto;
}

.db-bttn {
  float: left;
  width: 13%;
  margin-right: 2%;
  line-height: 0;
  margin-top:0;
}

.db-bttn:hover .db-bttn-ico{
  width: 100%;
  padding-bottom: 10%;
}

.db-bttn:hover img{
  margin-top: 10%;
  margin-left: 0%;
}

.db-bttn img {
  margin-top: 0;
  width: 100%;
}

.db-bttn-ico {
  bottom: auto;
  width: 100%;
  padding-bottom: 0%;
  background-color: #ea5650;
}

.db-active img{
  margin-top: 10%;
  margin-left: 0%;
}

.db-active .db-bttn-ico{
  width: 100%;
  padding-bottom: 10%;
}

.db-active .db-bttn-ico{
  padding-bottom: 10%;
}
  
}