body{
font-family: Arial, Helvetica, sans-serif;;
/*overflow: hidden;*/
background-color: #9ACFE1;
padding:10px;
}
a {line-height: 0}

form{
	position: relative;
	margin-top: 15%;
}


.db-wrapper-menu {
	position: fixed;
	top: 0; 
	left: 0; 
	width: 100%;
	z-index: 99999;
	background: #9ACFE1;
}

.db-deco0 {
	background-color:  #FFFFFF;
	position: relative;
	float: left;
	width: 2%;
	padding-bottom: 14%;
	margin-right: 2%;
	box-sizing: border-box;
}
.db-deco1 {
	background-color:  #FFFFFF;
	overflow: hidden;
	position: relative;
	padding-bottom: 14%;
	margin-left: 2%;
	box-sizing: border-box;
}

.db-bttn {
	position: relative;
	float: left;
	width: 15%;
	margin-right: 2%;
	line-height: 0;
	margin-top:0;
	box-sizing: border-box;
}

.db-bttn:hover .db-bttn-ico{
	padding-bottom: 10%;
}

.db-bttn:hover img{
	margin-top: 10%;
}

.db-bttn img {
	margin-top: 0;
	width: 100%;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
}

.db-bttn-ico {
	position: absolute;
	top: 0; left:0;
	width: 100%;
	padding-bottom: 0%;
	background-color: #ea5650;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
}

.db-active img{
	margin-top: 10%;
}

.db-active .db-bttn-ico{
	padding-bottom: 10%;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }