.db-wrapper-menu {
	position: fixed;
	top: 0; left: 0; bottom: 0;
	height: 100vh;
	width: 4%;
}

.db-deco0 {
	background-color:  #FFFFFF;
	position: relative;
	width: 80%;
	padding-bottom: 300%;
}
.db-deco1 {
	background-color:  #FFFFFF;
	position: relative;
	margin-top: 10%;
	width: 80%;
	padding-bottom: 300%;
	height: 100vh;
}

.db-bttn {
	position: relative;
	width: 100%;
	margin-top: 10%;
	line-height: 0;
}

.db-bttn:hover .db-bttn-ico{
	width: 19%;
}

.db-bttn:hover img{
	margin-left: 19%;
}

.db-bttn img {
	width: 80%;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
}

.db-bttn-ico {
	position: absolute;
	top: 0; left:0; bottom: 0;
	width: 0%;
	background-color: #ea5650;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
}

.db-active img{
	margin-left: 19%;
}

.db-active .db-bttn-ico{
	width: 19%;
}