@font-face {
    font-family: "VW Head";
    font-style: normal;
    font-weight: bold;
    src: url("/assets/vw-fonts/fonts/VW_Head/VWHeadWeb-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/vw-fonts/fonts/VW_Head/VWHeadWeb-Bold.woff") format("woff"), url("/assets/vw-fonts/fonts/VW_Head/VWHeadWeb-Bold.ttf") format("truetype"), url("/assets/vw-fonts/fonts/VW_Head/VWHeadWeb-Bold.svg#VWHeadWeb-Bold") format("svg");
}
@font-face {
    font-family: "VW Head";
    font-style: italic;
    font-weight: bold;
    src: url("/assets/vw-fonts/fonts/VW_Head/VWHeadWeb-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/assets/vw-fonts/fonts/VW_Head/VWHeadWeb-BoldItalic.woff") format("woff"), url("/assets/vw-fonts/fonts/VW_Head/VWHeadWeb-BoldItalic.ttf") format("truetype"), url("/assets/vw-fonts/fonts/VW_Head/VWHeadWeb-BoldItalic.svg#VWHeadWeb-BoldItalic") format("svg");
}
@font-face {
    font-family: "VW Head";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/vw-fonts/fonts/VW_Head/VWHeadWeb-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/vw-fonts/fonts/VW_Head/VWHeadWeb-Regular.woff") format("woff"), url("/assets/vw-fonts/fonts/VW_Head/VWHeadWeb-Regular.ttf") format("truetype"), url("/assets/vw-fonts/fonts/VW_Head/VWHeadWeb-Regular.svg#VWHeadWeb-Regular") format("svg");
}
@font-face {
    font-family: "VW Head";
    font-style: italic;
    font-weight: normal;
    src: url("/assets/vw-fonts/fonts/VW_Head/VWHeadWeb-RegularItalic.eot?#iefix") format("embedded-opentype"), url("/assets/vw-fonts/fonts/VW_Head/VWHeadWeb-RegularItalic.woff") format("woff"), url("/assets/vw-fonts/fonts/VW_Head/VWHeadWeb-RegularItalic.ttf") format("truetype"), url("/assets/vw-fonts/fonts/VW_Head/VWHeadWeb-RegularItalic.svg#VWHeadWeb-RegularItalic") format("svg");
}
@font-face {
    font-family: "VW Text";
    font-style: normal;
    font-weight: bold;
    src: url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-Bold.woff") format("woff"), url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-Bold.ttf") format("truetype"), url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-Bold.svg#VWTextWeb-Bold") format("svg");
}
@font-face {
    font-family: "VW Text";
    font-style: italic;
    font-weight: bold;
    src: url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-BoldItalic.woff") format("woff"), url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-BoldItalic.ttf") format("truetype"), url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-BoldItalic.svg#VWTextWeb-BoldItalic") format("svg");
}
@font-face {
    font-family: "VW Text";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-Regular.woff") format("woff"), url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-Regular.ttf") format("truetype"), url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-Regular.svg#VWTextWeb-Regular") format("svg");
}
@font-face {
    font-family: "VW Text";
    font-style: italic;
    font-weight: normal;
    src: url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-RegularItalic.eot?#iefix") format("embedded-opentype"), url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-RegularItalic.woff") format("woff"), url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-RegularItalic.ttf") format("truetype"), url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-RegularItalic.svg#VWTextWeb-RegularItalic") format("svg");
}
@font-face {
    font-family: "VW Text";
    font-style: normal;
    src: url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-Light.eot?#iefix") format("embedded-opentype"), url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-Light.woff") format("woff"), url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-Light.ttf") format("truetype"), url("/assets/vw-fonts/fonts/VW_Text/VWTextWeb-Light.svg#VWTextWeb-Light") format("svg");
}