@font-face {
    font-family: "AudiTypeNormal";
    font-style: normal;
    font-weight: 400;
    src: url("AudiType-Normal.woff") format("woff");
}
@font-face {
    font-family: "AudiTypeBold";
    font-style: normal;
    font-weight: 400;
    src: url("AudiType-Bold.woff") format("woff");
}
@font-face {
    font-family: "AudiTypeExtendedNormal";
    font-style: normal;
    font-weight: 400;
    src: url("AudiType-ExtendedNormal.woff") format("woff");
}
@font-face {
    font-family: "AudiTypeExtendedBold";
    font-style: normal;
    font-weight: 400;
    src: url("AudiType-ExtendedBold.woff") format("woff");
}

abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;box-sizing: border-box;background:0 0}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0}button,input[type=submit],input[type=reset],input[type=button]{background:0 0;border:0;color:inherit;font:inherit;line-height:normal;overflow:visible;padding:0;-webkit-appearance:button;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}[role=button]{color:inherit;cursor:default;display:inline-block;text-align:center;text-decoration:none;white-space:pre;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}a{line-height:0}img{width:100%}.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}

body{font-family:"AudiTypeExtendedNormal", Tahoma, Helvetica,sans-serif;background-color:#FFFFFF;box-sizing: border-box; color: #FFFFFF; font-size: 12px;font-weight: 200; line-height: 15px; font-weight: 400;}

img {
    width: 100%;
}

h1{ 
    color: inherit;

    font-family: "AudiTypeExtendedBold";
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;

}

h2{ 
    color: inherit;

    font-family: "AudiTypeExtendedNormal";
    font-size: 24px;
    line-height: 28px;

}

h4{
    color: inherit;

    font-family: "AudiTypeExtendedNormal";
    font-size: 18px;
    line-height: 22px;
}

h5{
    color: inherit;

    font-family: "AudiTypeExtendedNormal";
    font-size: 18px;
    line-height: 24px;
}

p{
    color: inherit;

    font-family: "AudiTypeExtendedNormal";
    font-size: 12px;
    line-height: 18px;
}

span{
    color: inherit;

    font-family: "AudiTypeExtendedNormal";
    font-size: 10px;
    line-height: 18px;
}

a{
    color: #BB0A30;
    text-decoration: underline;
}

select, option { width: 99%; }

select {
    background: transparent;
    color: #000000;
    font-size: 14px;
    padding:10px 10px 10px 10px;
    box-sizing: border-box;
    border: 1px solid #d0d3d4;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

option {
    color: #000000;
}

input {
    width: 99%;
    font-size: 14px;
    background: #FFFFFF;
    border: 0;
    border: 1px dotted #d0d3d4;
    padding:10px;
    box-sizing: border-box;
    color: #000000;
}

input.text {
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    color: #000000;
}

input.error {
    background: #eea1a2;
    color: #dd0000;
}
label.error {
    color: #dd0000;
    font-size: 14px;
}

sup {font-size:0.5em; vertical-align:super;}

.oldies{
    display: none;
}

.a_hidden{
    position: absolute;
    top: 0; left: 0;

    width: 0%;
    height: 0%
    line-height: 0;
}

.hover:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    cursor: pointer;
    
}

.hover:active {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    cursor: pointer;
    
}

.hidder{
    display: none !important;
}

.show{
    display: block !important;
}

.endCheck{
    display: none !important; 
}

.nuller{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.alles {
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.al-a {
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.al-0{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.al-1{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.left-a {
    -moz-transition: left 0.4s;
    -o-transition: left 0.4s;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
}

.path{
    padding: 3% 5%;
}

.path_b{
    padding: 3% 5%;
}

.path_title{
    position: relative;

    width: 100%;
    padding: 3% 15% 6% 0;

    color: #000000;

    text-align: left;
}

.path_title span{ color: #BB0A30; }

.valing{
    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bg{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.bttnvw {
    display: none;
    position: relative;

    width: auto;
    padding: 5% 7%;
    margin: 0 auto 4% 0;

    background-color: #BB0A30;

    color: #FFFFFF;
    text-align:center;

    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.bttnvw2 {
    display: block;
}

.relative {
    position: relative;
}

    .top-title{
        position: relative;
        right: 0; top: 0; left: 0;

        width: 100%;
        padding-left: 13%; 

        color: #000000;
        background-color: #FFFFFF;

        border-bottom: 1px solid #cccccc;
    }

    .top-title-modal{
        position: fixed;

        z-index: 9000;
    }

    .top-logo{
        position: absolute;
        top: 0; left: 0; bottom: 0;

        width: 10%;

        background-image: url("../images/header/logo-audi.png");
        background-size: 70%;
    }

    .home_url{
        position: absolute;

        top: 0; left: 0; right: 0;
        widows: 100%;
        padding-bottom: 90%;

        cursor: pointer;
    }

.wrapper {
    position: relative;
    top: 0;

    overflow: auto;
    width: 100%;
    margin: 0;

    background-color: #FFFFFF;

    border-left: 1px solid #cccccc;

}

.wrapper_nuller {
    position: absolute;
    top: 0; left: 0 ; right: 0; bottom: 0;

    overflow: hidden;
}
        .hear_path{
            position: relative;
            width: 100%;
        }

        .hear_path_fix {
            position: fixed;
            top: 0; left: 0; right: 0;

        }

        .menu-hbg{
            display: none;
            position: absolute;
            top: 0; right: 0; bottom: 0;

            width: 10%;
            overflow: hidden;

        }

        .menu-hbg2 {
            display: block;
        }

        .menu-hbg:hover .ico_hover {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            -moz-opacity: 0;
            -khtml-opacity: 0;
            opacity: 0;
        }

        .menu-hbg:active .ico_hover {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            -moz-opacity: 0;
            -khtml-opacity: 0;
            opacity: 0;
        }

        .menu_close, .menu_open{
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;

            width: 100%;
            padding-bottom: 25%;

            cursor: pointer;
        }

        .ico-menu-close-a{background-image: url(../images/header/ico-menu-close-a.png);}
        .ico-menu-close{background-image: url(../images/header/ico-menu-close.png);}
        .ico-menu-open-a{background-image: url(../images/header/ico-menu-open-a.png);}
        .ico-menu-open{background-image: url(../images/header/ico-menu-open.png);}


        .menu_close img, .menu_open img{
            position: absolute;
            top: 0; left: 0;
        }

            .nav {
                position: relative;

                background-color: #FFFFFF;

                color: #888888;
            }

            .nav_box {
                position: relative;

                width: 100%;
                border-bottom: 1px solid #cccccc;
            }

            .nav_2 {
                padding: 5% 0;
            }

            .model_nav {

                margin: 0 4% 2% 0;
            }

            .filter, .edit, .dealer_filter{
                position: absolute;
                top: 0; right: 0; bottom: 0;

                width: 15%;

                /*background-color: #AAFF00;*/

            }

            
            .edit{ background-image: url("../images/header/ico-menu-edit.png"); }
            .filter{ background-image: url("../images/header/ico-menu-filter.png"); }
            .dealer_filter { background-image: url("../images/header/ico-menu-filter.png"); }
                    .models{
                        /*display: none;*/
                         min-height: 90vh;
                    }

                    .model{
                        position: relative;
                        display: inline-block;
                        vertical-align: top;


                        width: 46%;
                        margin: 0 4% 2% 0;
                        /*padding-bottom: 25%;*/

                        color: #000000;
                    }

                    .model:nth-child(odd){
                        margin-right: 0;
                    }

                    .model h5 {
                        text-align: left;
                    }
                            .dealer{
                                /*display: none;*/
                                position: relative;
                            }

                            .menu_bttn{

                                padding: 3% 5% 3% 15%; 

                                background-image: url(../images/header/ico-menu-radio.png);
                                color: #000000;

                                background-repeat: no-repeat;
                                background-size: 15% auto;
                                background-position: left top;
                                border-bottom: 1px solid #cccccc

                            }

                            .menu_bttn:last-child {
                                border: 0;
                            }

                            .dealer_map{
                                position: relative;

                                display: none;
                                width: 100%;
                                border: 1px solid #cccccc;

                            }

                            .dealer_menu .check_dealer{
                                background-image: url(../images/header/ico-menu-radio-a.png);

                            }

                            .dealer_menu .check_dealer .dealer_map{
                                display: block;
                            }

                            .dealer_menu .check_dealer .bttnvw{
                                display: inline-block;
                                margin-top: 3%;
                            }

                            .dealer_select{
                                position: absolute;
                                width: 15%;
                                top: 0; left: auto; right: 0; bottom: 0;
                                overflow: auto;
                            }

                            .dealer_select{ background-image: url("../images/header/ico-menu-filter.png"); }


                            .bttn_menu{
                                position: relative;

                                width: 100%;
                                margin: 3% 0 4%;
                                padding: 1% 4% 1% 1%;
                                border-bottom: 1px solid #cccccc;
                            }

                            .bttn_header{
                                position: relative;

                                width: 100%;
                                margin: 3% 0 4%;
                                padding: 4% 4% 4% 25%;
                                border-bottom: 1px solid #cccccc;
                            }

                            .bttn_header_ico{
                                background-position: center left;
                                background-size: auto 100%;
                                background-repeat: no-repeat;
                            }

                            .ico_models{ background-image: url("../images/icons/iconos-vw-models.png"); }
                            .ico_02{ background-image: url("../images/icons/iconos-vw-02.png"); }
                            .ico_03{ background-image: url("../images/icons/iconos-vw-03.png"); }
                            .ico_04{ background-image: url("../images/icons/iconos-vw-04.png"); }
                            .ico_05{ background-image: url("../images/icons/iconos-vw-05.png"); }
                            .ico_06{ background-image: url("../images/icons/iconos-vw-06.png"); }
                            .ico_07{ background-image: url("../images/icons/iconos-vw-07.png"); }
                            .ico_08{ background-image: url("../images/icons/iconos-vw-08.png"); }


                            .maps{
                                display: none;
                            }  
                                    .form_path, .form_path_prev{
                                       /* display: none;*/
                                       background-color: #FFFFFF;
                                    }

                                    .form_path span, .form_path_prev span{
                                        color: #000000;
                                    }

                                    .form_checkbox{
                                        width: 20px;
                                        text-align:left; 
                                        font-size: 14px;
                                        background: transparent;
                                        border: 0;
                                        box-sizing: border-box;
                                        padding: 0;
                                        margin: 0;
                                    }

                                    .form_section{
                                        position: relative;

                                        width: 100%;
                                        margin-bottom: 10%;


                                    }

                                    .form_legal{
                                        color: #444444;
                                    }

                                    #dblnkd-form .bttnvw{
                                        display: block;

                                        margin: 7% 0;
                                    }

                                    #dblnkd-form-prev .bttnvw{
                                        display: block;

                                        margin: 7% 0;
                                    }

                                    .form_msg{
                                        position: relative;

                                        display: none;
                                        border: 1px dashed #cccccc;
                                        padding: 10% 15%;

                                        background-color: #FFFFFF;
                                        color: #000000;

                                    }
                                    .especial_form{
                                        padding-left: 10%;
                                    }

                                    .mas56{
                                        position: absolute;
                                        width: 10%;
                                        top: auto; left: 0; bottom: 0;
                                        font-size: 12px;
                                        font-weight: bolder;
                                        vertical-align: baseline;
                                        color: #000000;
                                    }
                                            .result_path{
                                               /* display: none;*/
                                               color: #888888;
                                               height: 70vh;
                                            }

                                                .modal_bg{
                                                    position: fixed;
                                                    top: 0; left: 0; bottom: 0; right: 0;

                                                    display: none;
                                                    width: 100%;

                                                    background-image: url("../images/header/al_70.png");
                                                    background-repeat: repeat;
                                                    background-position: 0 0;

                                                }

                                                .modal_path, .aside{
                                                    position: absolute;
                                                    top: 0; left: -100%;

                                                    overflow: hidden;
                                                    height: 100vh;
                                                    width: 100%;
                                                    padding: 20% 5% 10% 5%; 

                                                    background-color: #FFFFFF;
                                                    color: #888888;

                                                }

                                                .modal_path_active {
                                                    position: absolute;
                                                    top: 0; left: 0;

                                                }

                                                .modal_path_active_extra {
                                                    position: relative;
                                                    top: 0; left: 0;
                                                    overflow: auto;
                                                    /*height: auto;*/
                                                    min-height: 100vh;

                                                }

                                                .modal_section{
                                                    position: relative;
                                                    width: 100%;

                                                }   
                                                    .result_title h1 {
                                                        font-size: 35px;
                                                        line-height: 40px;
                                                    }

                                                    .result_path p {
                                                        font-size: 18px;
                                                        line-height: 22px;
                                                    }

                                                    .foote_path{
                                                        color: #888888;
                                                        text-align: right;
                                                    }
                                                       .dealer_filter{
                                                            background-position: center center;
                                                            /*padding-top: 13%;
                                                            font-size: 10px;
                                                            line-height: 12px;
                                                            text-align: center;*/
                                                        }


@media only screen and (min-width: 1024px) and (orientation: landscape) {

.path{
    padding: 2% 15%;
}

.path_b{
    padding: 2% 15%;
}

h2{ 
    color: inherit;

    font-family: "AudiTypeExtendedNormal";
    font-size: 34px;
    line-height: 38px;

}

span{
    color: inherit;

    font-family: "AudiTypeExtendedNormal";
    font-size: 12px;
    line-height: 30px;
}
    .top-title{

        width: auto;
        padding-left: 200px;

        color: #000000;
        background-color: #f2f2f2;

        border-bottom: 0;
    }

   

    .top-logo{
        position: fixed;
        top: 0; left: 0; bottom: 0;

        min-height: 100vh;

        width: 150px;

        background-image: url("../images/header/logo-audi.png" );
        background-size: 50%;
        background-position: center 2%;

        background-color: #333333;
    }
.wrapper {
    position: relative;
    top: 0;

    overflow: auto;
    width: auto;
    margin: 0 0 0 150px;
    padding: 0;

    background-color: #FFFFFF;

}

.wrapper_nuller {
    position: absolute;
    top: 0; left: 0 ; right: 0; bottom: 0;

    overflow: hidden;
}
        .menu-hbg{
            position: absolute;
            top: 0; right: 2%; bottom: 0;

            width: 3%;
            overflow: hidden;

        }

            .nav_box {
                position: relative;


                display: inline-block;
                width: 20%;
                vertical-align: bottom;
                border-bottom: 1px solid #cccccc;
            }

            .nav_4{
                margin-left: 2%;
            }

            .nav_2 {
                padding: 0 4% 2% 0;
                margin-left: 2%;
            }

            .model_nav {

                margin: 0 4% 2% 0;
            }

            .filter, .edit, .dealer_filter{
                position: absolute;
                top: 0; right: 0; bottom: 0;

                width: 15%;

                background-position: bottom;

            }

                .dealer_select{
                    background-size: 40%;
                }

                .dealer_map{
                    position: relative;

                    display: none;
                    width: 100%;
                    border: 1px solid #cccccc;
                }

                .dealer_menu .check_dealer .dealer_map{
                    display: none;
                }


                    .model{
                        position: relative;
                        display: inline-block;
                        vertical-align: top;

                        width: 30%;
                        margin: 0 2% 7% 0 !important;
                        /*padding-bottom: 25%;*/

                        cursor: pointer;
                        -moz-border-radius: 5px;
                        -webkit-border-radius: 5px;
                        -khtml-border-radius: 5px;
                        border-radius: 5px;

                        color: #000000;
                    }

                    /*.model:nth-child(odd){
                        margin-right: 2%;
                    }

                    .model:nth-child(even){
                        margin-right: 2%;
                    }*/

                   /* .model:nth-child(4n){
                        margin-right: 0 !important;
                    }*/

                    .model h5 {
                        text-align: left;
                        padding-left: 0;
                    }
                        .dealer .path_title {

                            border-top: 1px solid #cccccc;

                            background-color: #ffffff;

                        }

                        .dealer_menu{
                            width: 25%;
                            overflow: auto;
                            height: 60vh;

                            border: 1px solid #cccccc;
                        }


                            .maps {
                                position: absolute;
                                top: 0; right: 0; left: auto; bottom: 0;
                                display: block;
                                width: 75%;

                                background-origin: #dd0000;
                            }

                            .map-container{
                                width: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                            }
                                    .form_section{
                                        position: relative;

                                        display: inline-block;

                                        width: 47%;
                                        margin-bottom: 1%;
                                        margin-right:2%;


                                    }

                                    .especial_form{
                                        padding-left: 4%;
                                    }

                                    #dblnkd-form .bttnvw{
                                        display: block;

                                        margin: 7% 40%;
                                        padding: 2% 4%;
                                        width: auto;
                                    }

                                    #dblnkd-form-prev .bttnvw{
                                        display: block;

                                        margin: 7% 40%;
                                        padding: 2% 4%;
                                        width: auto;
                                    }

                                    .form_msg{
                                        position: relative;

                                        display: none;
                                        border: 1px dashed #cccccc;
                                        padding: 2% 5%;

                                        background-color: #FFFFFF;
                                        color: #000000;

                                    }

                                            .modal_path{
                                                    height: 100vh;
                                                    width: 30%;
                                                    padding: 7% 5% 10% 5%; 

                                                    background-color: #FFFFFF;
                                                    color: #888888;

                                            }

                                             .modal_path_active{
                                                    position: absolute;
                                                    top: 0; left: 81px;

                                            }

                                            .dsktp-layout-fix{

                                            }

                                            .result_path .bttnvw{
                                                display: inline-block;
                                                width: 25%;

                                                padding: 1% 4%;
                                                margin: 2% 4% 0 0;
                                            }       
                                                    .aside{
                                                        position: fixed;
                                                        top: 0; left: 0; 

                                                        width: 150px;
                                                        margin-top: 100px;
                                                        padding: 0 0 0 0;

                                                        border-top: 1px solid #cccccc;
                                                    }

                                                    .bttn_header{

                                                        margin: 23% 0 4% 0;
                                                        padding: 34% 4% 20% 4%;
                                                        color: #8b939b;
                                                        text-align: center;
                                                        font-size: 11px;
                                                        font-family: "VW Head bold"
                                                    }


                                                    .bttn_header_ico{
                                                        background-position: center top;
                                                        background-size: 50% auto;
                                                        background-repeat: no-repeat;
                                                    }

                                                    .dsktp_fix{
                                                        display: none;
                                                    }
                                                        .dealer_filter{
                                                            background-position: center center;
                                                            /*padding-top: 13%;
                                                            font-size: 10px;
                                                            line-height: 12px;
                                                            text-align: center;*/
                                                        }
                                                       

                                                    
}

                            

