abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;box-sizing: border-box;background:0 0}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0}button,input[type=submit],input[type=reset],input[type=button]{background:0 0;border:0;color:inherit;font:inherit;line-height:normal;overflow:visible;padding:0;-webkit-appearance:button;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}[role=button]{color:inherit;cursor:default;display:inline-block;text-align:center;text-decoration:none;white-space:pre;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}a{line-height:0}img{width:100%}.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}

body{font-family:"Roboto", Helvetica,sans-serif;background-color:#9ACFE1;box-sizing: border-box; color: #000000; font-size: 13px;font-weight: 200; line-height: 15px}

p{font-family: 'Roboto', sans-serif;
font-weight: normal;
font-size: 14px;
color:#FFFFFF;
line-height: 18px}

span{font-family: 'Roboto', sans-serif;
font-weight: normal;
font-size: 9px;
color:#888888;
line-height: 11px}

h1{font-family: 'Roboto', sans-serif;
font-weight: 200;
font-size: 28px;
color:#FFFFFF;
line-height: 34px}

h2{font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 18px;
color:#000000;
line-height: 20px;
}

select {
	width: 98%;
}

input {
	width: 98%;
	padding: 5px 10px;
}

.form-group{
	width: 100%;

	padding: 15px 0 0 0;
	box-sizing: border-box;
}

.bounce {
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
0% { opacity: 0;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
-moz-opacity: 0;
-khtml-opacity: 0;
-moz-opacity: 0;
-khtml-opacity: 0; }
50% { opacity: 1;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
-moz-opacity: 1;
-khtml-opacity: 1;
-moz-opacity: 1;
-khtml-opacity: 1; }
100% { opacity: 0;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
-moz-opacity: 0;
-khtml-opacity: 0;
-moz-opacity: 0;
-khtml-opacity: 0;}
}

.sbounce {
	-webkit-animation:sbounce 1s infinite;
}

@-webkit-keyframes sbounce {
	0% { opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0; }
	50% { opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2; }
	100% {opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0;}
}

.tester{
	width: 30%;
	position: absolute;
	top: 0;
	left: auto;
	right: 0;
	padding-bottom: 20px;
	background-color: #daad00
}

.title-nuller{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.nuller{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.hidder{
	display: none !important;
}

.modal{
	display: none;
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 100%; height: 100%;
	background-color:#9ACFE1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.btta-modal{
	display: none;
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 100%; height: 100%;
	background-color:#000000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.note-edit{
	width: 100%;
	position: relative;
	padding: 0;
	color: #cccccc;
}

.note-edit-a{
	background-color: #f8f8f8;
	padding: 2%;
	margin-bottom: 5%;
	color: #000000;
}

.bttn-note{
	display: none;
	position: relative;
	font-weight: 400;
	color: #EA5650;
	width: auto;
	padding: 0;
    border-bottom: 1px solid #EA5650;
    margin-right: 10%;
    cursor: pointer;
}

.bttn-note-a{
	display: inline-block;
}

.note-cancel{
	color: #888888;
	border-bottom: 1px solid #888888;
}

.box-result{
	display: block !important;
}

	.wrapper {
		width: 100%;
		height: 100%;
		position: absolute;
		box-sizing: border-box;
		padding-top: 15%;
		background-color:#9ACFE1;
	}

	.wrapper-null{
		overflow: hidden;
		height: 90vh;
	}

	.dsktp-top, .dsktp-left{
		display: none;
	}

	.section-box{
		position: relative;
		width: 90%;
		padding-bottom: 20%;
		box-sizing: border-box;
		margin: 0 0 0 5%;
		padding: 0;
	}

	.box-title{
		background-color: #EA5650;
	}

	.box-content{
		background-color: #FFFFFF;
		border-bottom: 1px dashed #9ACFE1;
	}

		/*Alles Leads*/
		.leads-box, .leads-box-gn, .leads-box-es{
			background-color: transparent;
			margin: 0;
			padding: 0;
			border-bottom: 0;
			-moz-border-radius: 10px;
		    -webkit-border-radius: 10px;
		    -khtml-border-radius: 10px;
		    border-radius: 10px;
		}



		.lead-ico-i{
			position: absolute;
			top: 0; right: 0; left: auto;
			width: 35px;
			padding-bottom: 35px;
			background-position: center center;
			background-size: 100%;
			cursor: pointer;
		}

		.lead-item, .lead-item-gn, .es-item, .lead-item-gn-es{
			width: 100%;
			background-color: #FFFFFF;
			position: relative;
			float: left;
			padding: 4% 10% 4% 8%;
			box-sizing: border-box;
			border-top: 1px dashed #9ACFE1;
		}

		.lead-item-e, .lead-item-gn-e, .es-item-e, .es-item-t{
			margin-top: 5%;
			background-color: #FFFFFF;
			-webkit-border-radius: 10px 10px 0 0 ;
		    -khtml-border-radius: 10px 10px 0 0;
		    border-radius: 10px 10px 0 0;
		    border-top: 0px;
		 
		}

		.es-item-t{
			background-color: #ec625c;
			color: #FFFFFF;
		}

		.es-item-p{
			padding: 4% 8% 4% 8%;
		}

		.es-item-p2{
			background-color: #c2e2ed;
		}

		.es-item .lead-ico-i{
			background-image: url("../images/header/ico-down.png");
		}

		.es-item .l-active{
			background-image: url("../images/header/ico-change.png");
		}

		.lead-item-e .lead-ico-i{
			background-image: url("../images/header/ico-filter.png");
		}

		.lead-item-e .l-active{
			background-image: url("../images/header/ico-filter-a.png");
		}

		.lead-item-e span{
			color: #888888;
			white-space: nowrap;
		}

		.eicon{
			position: absolute;
			width: 5%;
			top: 10%; left: 1%; bottom: 10%;
			-webkit-border-radius: 7px ;
		    -khtml-border-radius: 17px ;
		    border-radius: 7px ;
		    background-color: #ffaa00;

		}

		.lead-item-nombre{
		 	background-color: #EA5650;
		 	
		}

		.lead-item-nombre h2{
			color: #FFFFFF !important;
		 	font-weight: 400;
		}

		.lead-item-d .lead-ico-i{
			background-image: url("../images/header/ico-date.png");
		}

		.lead-item-d .l-active{
			background-image: url("../images/header/ico-date-a.png");
		}

		.lead-item-n .lead-ico-i{
			background-image: url("../images/header/ico-search.png");
		}

		.lead-item-n .l-active{
			background-image: url("../images/header/ico-search-a.png");
		}

		.lead-item-nombre{
		 	background-color: #EA5650;
		 	color: #FFFFFF;
		 	font-weight: 400;
		}

		.lead-item-a .lead-ico-i{
			background-image: url("../images/header/ico-filter.png");
		}

		.lead-item-m .lead-ico-i{
			background-image: url("../images/header/ico-change.png");
		}

		.lead-item-a .l-active{
			background-image: url("../images/header/ico-filter-a.png");
		}

		.lead-item-s .lead-ico-i{
			background-image: url("../images/header/ico-down.png");
		}

		.sfiller {
			position: absolute;
			width: 100%; height: 100%;
			top: 0; left: 0; right: 0; bottom: 0;
			background-color: #9acfe1;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		 	filter: alpha(opacity=0);
		  	-moz-opacity: 0;
		   	-khtml-opacity: 0;
		   	opacity: 0;
		}

		.lead-item-s .l-active{
			background-image: url("../images/header/ico-down-a.png");
		}

		.lead-item-g, .lead-item-gn-g {
			font-weight: bolder;
			color: #FFFFFF;
			background-color: #EA5650;
			-webkit-border-radius: 0 0 10px 10px ;
		    -khtml-border-radius: 0 0 10px 10px;
		    border-radius: 0 0 10px 10px;
		    margin-bottom: 10px;
		    text-align:center;
		    border-top: 2px solid #bc443f;
		}

		.lead-item-g:hover {
		    border-top: 2px solid #ee7873;
			background-color: #ee7873;
		}

		.gfiller {
			background-color: #000000;
			-webkit-border-radius: 0 0 10px 10px ;
		    -khtml-border-radius: 0 0 10px 10px;
		    border-radius: 0 0 10px 10px;
		}

		.lead-item-x, .es-item-x {
			background-color: #FFFFFF;
			-webkit-border-radius: 0 0 10px 10px;
		    -khtml-border-radius: 0 0 10px 10px;
		    border-radius: 0 0 10px 10px;
		    border-top: 0 0 10px 10px;
		    
		}

		.col1{
			width: 100%;
		}
		.col2{
			width: 100%;
		}

		.print-search, .print-date{
			display: none;
			position: relative;
			top: 0; left: 0;
			box-sizing: border-box;
			width: 100%;
			padding: 10px 30px 8px 12px;
			background-position: top right;
			background-size: 30px;
			background-color: #cee7f0;
			background-repeat: no-repeat;
		    border: 1px dashed #FFFFFF;
			background-image: url("../images/header/ico-exit.png");
			cursor: pointer;
			margin: 0% 0 2% 0;
			font-size: 10px;
			line-height: 12px;
			-webkit-border-radius: 10px;
		    -khtml-border-radius: 10px;
		    border-radius: 10px;
		}

		.print-date{
			background-color: #ffaa00;
		}

		.pags, .conter{
			display: inline-block;
			box-sizing: border-box;
			padding: 10px;
			margin: 0 10px;
			background-color: #FFFFFF;
			-webkit-border-radius: 2px;
		    -khtml-border-radius: 2px
		    border-radius: 2px;

		}

			/*Alles Header*/
			.db-header {
				position: fixed; width: 100%;
				top: 0; left: 0; bottom: auto;  
				background-color: #FFFFFF; padding: 2%;border-bottom: 1px solid #cfd0d2;
				box-sizing: border-box;
			}

			.header-logo{
				position: relative; width: 7%;
				margin: 0%; padding-bottom: 7%;
				background-image: url("../images/header/logo-lm.png"); background-size: 100% auto; background-position: 0 0; background-repeat: no-repeat;
				box-sizing: border-box;
			}

			.header-logo a{
				position: absolute; width: 100%;
				top: 0;bottom: 0;left: 0;right: 0;
				cursor: pointer; text-decoration: none;
			}

			.header-title{
				width: 70%;
				position: absolute;
				top: 25%;
				right: 14%;
				left: auto;
				cursor: pointer;
				font-weight: bold;
				font-size: 16px;
				color: #EA5650;
				text-align: center;
			}

			.header-title:hover {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
			 	filter: alpha(opacity=50);
			  	-moz-opacity: 0.5;
			   	-khtml-opacity: 0.5;
			   	opacity: 0.5;
			   }

			.header-title-null:hover {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			 	filter: alpha(opacity=100);
			  	-moz-opacity: 1;
			   	-khtml-opacity: 1;
			   	opacity: 1;
			   	cursor: default;
			}

			.item-num{
				display: inline-block;
			}

			.item-num2{
				text-align-last: center;
				width: 100%;
			}

			.item-num2 h1 {
				font-size: 65px;
				color: #444444;
				line-height: 79px;
			}

			.drop-title{
				display: inline-block;
				padding-right: 26px;
				font-family: inherit;
				font-weight: inherit;
				font-size: inherit;
				background-image: url("../images/header/ico-down-title.png");
				background-size: 17px auto;
				background-repeat: no-repeat;
				background-position: center right;
			}

			.db-header h1 span {
				display: none;
			}

			.db-header a {
				position: absolute;
			}

			.header-drop{
				display: block; 
				position: absolute;
				width: 8%; 
				top:10%; left: auto;right: 2%;padding: 0 0 8% 0;
			}

			#ico-menu{
				display: block;
			}

			#ico-exit{
				display: none;
			}

			.icon-menu-button{ 
				position: absolute; 
				width: 100%; 
				top:0; left: 0;
			}

			.menu-board{
				position: absolute; 
				width: 100%;
				background-color: #FFFFFF;
				top: 0;left: -101%; bottom: 0; padding: 13% 5% 5% 5%; box-sizing: border-box;
				-moz-transition: left 0.4s;
			    -o-transition: left 0.4s;
			    -webkit-transition: left 0.4s;
			    transition: left 0.4;
				overflow: hidden;
				height: 100vh;
			}

			.menu-boad-dsktp {
				position: relative;
				width: 100%;
				padding: 0; margin: 0;
			}

			.menu-board-active{
				left: 0;
				overflow: auto;
				height: auto;
			}

			.btta-menu{
				display: none;
				position: relative;
				width: 99%;
				font-weight: 200;
				font-size: 12px;
				line-height: 14px;
				color: #EA5650;
				padding: 3% 0;
				margin: 3% 0;
				text-align: left;
				border-bottom: 1px dashed #EA5650;
				cursor: pointer;
			}

			.btta-title{
				box-sizing: border-box;
				padding-top: 20px;
				display: none;
				font-weight: 200;
				font-size: 22px;
				line-height: 24px;
				color: #888888;
			}

			.btta-fade{
				display: block;
			}


			.btta-current{
				color: #cccccc;
				border-bottom: 1px dashed #cccccc;
			}
				
			.bttn-filler{
				position: absolute; display: block;
				top: 0;left: 0;right: 0;bottom:0; box-sizing: border-box;
				background-color: #0099da; border: 4px solid #FFFFFF
			}

			.bttn-hover {
				cursor: pointer;
			}

			.bttn-hover:hover .bttn-filler{
				background-color: #7fccec;
			}

			.bttn-while {
				cursor: default;
			}

			.bttn-while .bttn-filler{
				background-color: #cfd0d2;
			}

				/*ALLES CALENDARIO*/
				.calendar_lm {
					width: 100%;
					margin-top: 2%;
					position: relative;
				}

				.cal-header{
					background-color: #FFFFFF;
					width: 98%;
					text-align:center;
					-webkit-border-radius: 10px 10px 0 0 ;
				    -khtml-border-radius: 10px 10px 0 0;
				    border-radius: 10px 10px 0 0;
				    border-top: 0px;

				}

                .cal-view{
					background-color: #FFFFFF;
					width: auto;
					display: inline-block;
					height: 40px;
					margin: 0% 0 2% 0;
					vertical-align: middle;
					padding: 13px 20px 13px 45px ;
					text-align:center;
					-webkit-border-radius: 10px 10px 10px 10px;
				    -khtml-border-radius: 10px 10px 10px 10px;
				    border-radius: 10px 10px 10px 10px;
				    border-top: 0px;
				    background-image: url("../images/header/ico-list.png");
					background-repeat: no-repeat;
					background-size: auto 80%;
					background-position: center left;

					color: #ec625c;
					font-weight: 600;
					font-style: 15px;

					cursor: pointer;
				}



				.title_cal{
					width: 60%;
					display: inline-block;
					position: relative;
					font-family: 'Roboto', sans-serif;
					font-weight: 600;
					font-size: 14px;
					color:#ec625c;
					line-height: 14px;
					text-align: center;
					padding: 4% 10px 4%;
					vertical-align: middle;
				}

				.day_cal, .day_cal_m{
					width: 14%;
					position: relative;
					display: inline-block;
					font-family: 'Roboto', sans-serif;
					font-weight: 400;
					font-size: 14px;
					color:#888888;
					line-height: 14px;
					text-align: center; 
					padding: 20px 10px ;
					background-color: #FFFFFF;
					border: 1px dashed #cccccc;
					
				}

				.day_title, .day_title_m{
					color: #ec625c;
					cursor: default;
				}

				.day_agenda{
					background-color: #ffaa00;
					cursor: pointer;
					color: #000000;
				}

				.day_agenda_lost{
					background-color: #DD0000;
					cursor: pointer;
					color: #000000;
				}

				.day_cerrado{
					background-color: #e8e8e8;
					cursor: pointer;
					color: #000000;
				}

				.day_select{
					color: #000000;
					border-color: #0099da;
					background-color: #9ACFE1;
				}

				.arrow_cal, .arrow_cal_m{
					padding-top: 10%;
					position: relative;
					display: inline-block;
					top: 0; left: auto; right: auto;
					width: 10%;
					cursor: pointer;
					background-size: 100% auto;
					background-repeat: no-repeat;
					background-position: 0 0;
					vertical-align: middle;

				}

				.id_back{
					background-image: url("../images/header/ico-back.png");
				}

				.id_next{
					background-image: url("../images/header/ico-next.png");
				}
					.gu-mockup{
						width: 80%;
						top: 0; left: 10%;
						position: absolute;
						margin: 10% 0 0 0;
						background-image: url("../images/guia/mockup-celular.jpg");
						background-position: 0 0;
						background-size: 100%;
						background-repeat: no-repeat;
						padding-bottom: 140%;
					}

					.gu-canvans{
						width: 65%;
						padding-bottom: 116%;
						position: absolute;
						top: 0; left: 15%;
						margin-top: 25%;
						background-color: #9ACFE1;
						overflow: hidden;
					}


					.gu-content{
						width: 100%;
						position: absolute;
						margin: 0;
						padding: 3% 4% 10% 4%;
						top: auto; bottom: 0; left: 0;
						background-image: url("../images/header/black70.png");
					}

					.gu-titulo{
						width: 100%;
						position: relative;
						color: #ec625c;
						font-size: 14px;
						font-weight: 200;
						line-height: 19px;
					}

					.gu-texto{
						width: 100%;
						position: relative;
						color: #FFFFFF;
						font-size: 11px;
						line-height: 14px;
						font-weight: 200;
					}

					.gu-flecha{
						position: absolute;
						top: 0;
						margin-top: 60%;
						background-size: 100%;
						background-repeat: no-repeat;
						background-position: 0 0;
						padding-bottom: 15%;
						width: 15%;

					}

					.gu-atras{
						left: 0%;
						margin-left: -10%;
						background-image: url("../images/header/ico-back.png");
					}

					.gu-adelante{
						right: 0%;
						margin-right: -10%;
						background-image: url("../images/header/ico-next.png");
					}

					.gu-item{
						width: 100%;
						background-position: 0 0;
						background-repeat: no-repeat;
						background-size: 100% auto;
						position: absolute;
						top: 0; left: 0; bottom: 0;
						height: 100%;
						-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
						filter: alpha(opacity=0);
						-moz-opacity: 0;
						-khtml-opacity: 0;
						opacity: 0;
						-moz-transition: opacity 0.4s;
					    -o-transition: opacity 0.4s;
					    -webkit-transition: opacity 0.4s;
					    transition: opacity 0.4s;
					}

					/*.gu-timer0{
						-moz-transition-delay: opacity 1s;
					    -o-transition-delay: opacity 1s;
					    -webkit-transition-delay: opacity 1s;
						transition-delay: 9s;
					}*/

					.gu-item img{
						width: 100%;
					}
						.pie_chart {
							position: relative;
							display: block;
							margin: 0 auto;
						 	width: 200px;
						 	height: 200px;
						 	padding: 0;
						}

						.pie_chart ul {
							list-style-type: none;
							width: 200px;
							height: 200px;
							padding: 0;
						 	margin: 0;
						}
							
						.pie_chart li {
							position: absolute;
							top: 0px;
							width: 200px;
							height: 200px;
						 	padding: 0;
						 	margin: 0;
						}

						.pie_chart p {
							width: 200px;
							height: 200px;
						 	padding: 0;
						 	margin: 0;
						}

						.pie_chart li p { -webkit-transition: all .7s ease-out;}

						.pie_chart span { display: block; width: 100px; height: 200px;}

						.pie_chart ul :nth-child(odd) { clip: rect(0px, 200px, 200px, 100px);}

						.pie_chart ul :nth-child(even) { clip: rect(0px, 100px, 200px, 0px);}

						.pie_left{
							-moz-border-radius: 100px 0 0 100px;
						    -webkit-border-radius: 100px 0 0 100px;
						    -khtml-border-radius: 100px 0 0 100px;
						    border-radius: 100px 0 0 100px;
						}

						.pie_right{
							margin-left: 100px;
							-moz-border-radius: 0 100px 100px 0;
						    -webkit-border-radius: 0 100px 100px 0;
						    -khtml-border-radius: 0 100px 100px 0;
						    border-radius: 0 100px 100px 0;
						}

						.c1_l span {
							background-color: #eeeeee;
							background-image: url("../images/header/dash.png");
							background-repeat: repeat;
							background-size: 7px;
						}

						.c1_r span {
							background-color: #eeeeee;
							background-image: url("../images/header/dash.png");
							background-repeat: repeat;
							background-size: 7px;
						}
						 
						.c2_l span {
							background-color: #ffaa00;
							
						}

						.c2_r span {
							background-color: #cccccc;
							
						}

						.c3_l span {
							background-color: #f1f1f1;
						}

						.c3_r span {
							background-color: #f1f1f1;
						}

						.c4_l span {
							background-color: #f1f1f1;
						}

						.c4_r span {
							background-color: #f1f1f1;
						}

								.barras_box{
									position: relative;
									width: 100%;
									padding-bottom: 50%;
								}

								.barra_a{
									position: absolute;
									top: 0;
									left: 0;
									right: auto;
									bottom: 0;

									border-top: 1px solid #C2E2ED;

									background-color: #dd0000;
									color: #FFFFFF;

									padding: 0px;
									font-weight: bolder;
								}

								.barra_b{
									position: absolute;
									top: 0;
									left: 0;
									right: auto;
									bottom: 0;


									/*border: 2px solid #C2E2ED;*/
									overflow: hidden;
									background-color: #dd0000;
									color: #FFFFFF;

									padding: 5px;
									font-weight: bolder;
									
								}

								.barra_b:first-child {
									border: 0;
									border-top: 2px dashed #FFFFFF;
								}

								.barra_c{
									position: absolute;
									top: 0;
									left: 0;
									right: auto;
									bottom: 0;

									border-right: 2px solid #C2E2ED;
									border-left: 2px solid #C2E2ED;

									background-color: #dd0000;
									color: #FFFFFF;

									padding: 0px;
								}

								.barra_f{
									position: absolute;
									top: 0;
									left: 0;
									right: auto;
									bottom: 0;

									border-right: 2px solid #C2E2ED;
									border-left: 2px solid #C2E2ED;

									background-color: #dd0000;
									color: #FFFFFF;

									padding: 0px;
								}

								.es-item-pp{
									position: relative;
									display: inline-block;
									text-align: center;
									color: #000000;
									padding-left: 0;
									padding-right: 0;
								}
										.daaboton{
											border-radius:0;
											background: #EB5650;
											color: #FFF;
											border-color: #EB5650;
											padding: 3% 5%;

											margin: 0 auto;

											-moz-border-radius: 5px;
											-webkit-border-radius: 5px;
											-khtml-border-radius: 5px;
											border-radius: 5px;
										}

										.daaboton_extra {
											position: relative;
											display: block;

											width: auto;
											background: #EB5650;
											color: #FFF;
											border-color: #EB5650;
											padding: 5% 10%;

											margin: 3% 0;

											line-height: 18px;
											text-align: center;
											text-decoration: none;

											-moz-border-radius: 5px;
											-webkit-border-radius: 5px;
											-khtml-border-radius: 5px;
											border-radius: 5px;
										}

						.pie_chart ul :nth-child(1) p, .pie_chart ul :nth-child(1) p{ -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg);}
						.pie_chart ul :nth-child(2) p, .pie_chart ul :nth-child(2) p{ -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg);}
						.pie_chart ul :nth-child(3) p, .pie_chart ul :nth-child(3) p{ -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg);}
						.pie_chart ul :nth-child(4) p, .pie_chart ul :nth-child(4) p{ -moz-transform: rotate(170deg); -webkit-transform: rotate(170deg); -o-transform: rotate(170deg);}
						.pie_chart ul :nth-child(5) p, .pie_chart ul :nth-child(5) p{ -moz-transform: rotate(80deg); -webkit-transform: rotate(80deg); -o-transform: rotate(80deg);}
						.pie_chart ul :nth-child(6) p, .pie_chart ul :nth-child(6) p{ -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg);}



@media only screen and (min-width: 1024px) and (orientation: landscape) {

	.form-group{
		width: 30%
	}

	.wrapper{
		padding: 0
	}

	.dsktp-top{
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #FFFFFF;
		height: 50px;
		border-bottom: 1px dashed #cfd0d2;
	}

	.dsktp-left{
		display: block;
		width: 260px;
		background-color: #FFFFFF;
		position: fixed;
		border-right: 1px solid #cfd0d2;
		top: 0; left: 0; bottom: 0;
		height: 100%;
	}

	.section-box{
		width: auto;
		padding-bottom: 20%;
		margin: 50px 0 0 260px;
		box-sizing: border-box;
		padding: 2% 3%;
	}

		/*Alles Leads*/
		.leads-box{
			background-color: #FFFFFF;
			display: table;
			margin: 0;
			padding: 0;
			border-bottom: 0;
			-moz-border-radius: 15px;
		    -webkit-border-radius: 15px;
		    -khtml-border-radius: 15px;
		    border-radius: 15px;
		    border: 2px solid #9ACFE1;
		    
		}

		.leads-box-gn{
			float: left;
			width: 48%;
		
		}

		.es-item-box{
			display: inline-block;
			vertical-align: top;
			width: 80%;
		}

		.es-item-box:nth-child(even){
			margin: 0 0 0 0%
		}

		.leads-box-es{
			float: none;
			width: 100%;
		
		}

		.id-historial{
			float: right;
		}

		.lead-item{
			width: 17%;
			display: table-cell;
			background-color: transparent;
			position: relative;
			float: none;
			padding: 1% 35px 1% 35px;
			box-sizing: border-box;
			border: 0;
			border-right: 1px dashed #9ACFE1;
			
		}


		.lead-item-gn{
			padding: 4% 7% 4% 40px;
			float: none;
			
		}

		.lead-item-gn-es{
			padding: 4% 7% 4% 40px;
		}


		.lead-dsktp{
			width: 24%;
		}

		.lead-item-e {
			margin-top: 0;
			-webkit-border-radius: 0;
			-khtml-border-radius: 0;
			border-radius: 0;
			margin-bottom: 0;
		}

		.lead-item-gn-e {
	 		margin-top: 0;
		}

		.lead-item-g {
			color: #FFFFFF;
			background-color: #EA5650;
			-webkit-border-radius: 0 10px 10px 0 ;
		    -khtml-border-radius: 0 10px 10px 0;
		    border-radius: 0 10px 10px 0;
		    margin-bottom: 0px;
		    text-align:center;
		    border: 0;
		    border-left: 2px solid #bc443f;
		}

		.lead-item-g:hover {
			border: 0;
		    border-left: 2px solid #ee7873;
			background-color: #ee7873;
		}

		.lead-item-gn-g {
	 
		}

		.eicon{
			width: 20px;
			top: 10%; left: 7px; bottom: 10%;
			-webkit-border-radius: 9px ;
		    -khtml-border-radius: 9px ;
		    border-radius: 9px ;
		    background-color: #eeeeee;

		}

		.print-search, .print-date{
			width: 30%;
			margin: 0% 0 1%;
		}

		.box-pages{
			margin-top: 2%;
		}

			/*Alles Header*/

			.db-header {
				width: 260px;
				height: 50px;
				bottom: 0;
				box-sizing: border-box;
				border-bottom: none;
				border-right: 1px solid #cfd0d2;
				border-bottom: 1px dashed #cfd0d2;
				padding: 0;
			}

			.header-logo {
				position: relative;
				margin: 3% auto 0 5%;
				width: 13%;
				padding-bottom: 13%;
			}

			.header-title {
				position: fixed;
				display: inline-block;
				width: auto;
				text-align: left;
				top: 0;
				left: 0;
				margin: 17px 0 0 280px;
				padding-left: 2%;
			}

			.header-drop {
				display: block; 
				position: absolute;
				width: 30px; 
				top:auto; left:auto; right: -40px ;bottom: 10px ;padding: 0 0 30px 0;
			}

			.header-drop-dsktp {
				display: none;
			}

			#ico-menu{
				display: block;
			}

			#ico-exit{
				display: none;
			}

			.icon-menu-button{ 
				position: absolute; 
				width: 100%; 
				top:0; left: 0;
			}

			.menu-board{
				position: fixed;
				width: 260px;
				background-color: #FFFFFF;
				top: 0;left: 0; bottom: 0; padding: 0% 1% 0% 1%; box-sizing: border-box;
				margin-top: 50px;
				border-right: 1px solid #cfd0d2;
				-moz-transition: left 0.4s;
			    -o-transition: left 0.4s;
			    -webkit-transition: left 0.4s;
			    transition: left 0.4;
				overflow: auto;
				height: 100vh;
			}

			.menu-boad-dsktp {
				left: 1%;
				position: fixed;
				width: 230px;
				padding: 0; margin: 0;
				background-color: #FFFFFF;
				z-index: 1000;
			}

			.menu-board-active{
				left: 260px;
				/*left: 150px;*/
				overflow: auto;
				height: auto;
				
			}

			.btta-menu{

			}

			.btta-homemenu{
				display: block;	
			}

			.btta-fade{

			}

			.board-ico{
				position: relative; 
				display: table-cell; 
				width: 10%; 
				box-sizing: border-box; 
				height: auto;
			}
			
			.board-ico img{
				position: relative; width: 100%
			}

			.btta-menu p{
				position: relative; 
				display: table-cell;
				vertical-align: middle;
				font-weight: bold;
				font-size: 14px;
				line-height: 16px;
				color: #888888;
				text-align:left;
				padding:0% 5%;box-sizing: border-box;
			}

				/*ALLES CALENDARIO*/
				.title_cal{
					width: auto;
					display: inline-block;
					position: relative;
					font-family: 'Roboto', sans-serif;
					font-weight: 600;
					font-size: 14px;
					color:#ec625c;
					line-height: 14px;
					text-align: center;
					padding: 2% 4% 2%;
					vertical-align: middle;
				}

				.day_cal{
					font-weight: 400;
					font-size: 14px;
					line-height: 14px;
					text-align: center; 
					padding: 3% 5% ;
					border: 1px dashed #cccccc;
					
				}

				.arrow_cal{
					padding-top: 30px;
					width: 30px;

				}

				/*.day_agenda{
					background-color: #ffaa00;
					cursor: pointer;
					color: #000000;
				}*/
					.gu-mockup{
						width: 25%;
						top: 0; left: 360px;
						margin: 60px 0 0 0;
						padding-bottom: 46%;
					}


					.gu-content{
						width: 40%;
						position: relative;
						top: 0; left: 0;
						margin: 200px 6% 0 auto;
						padding: 0;
						top: auto; bottom: 0; left: 0;
						background-image: none;
					}

					.gu-titulo{
						width: 100%;
						position: relative;
						color: #ec625c;
						font-size: 43px;
						line-height: 46px;
						font-weight: 200;
						line-height: 26px;
						padding-bottom: 40px;
					}

					.gu-texto{
						width: 100%;
						position: relative;
						color: #FFFFFF;
						font-size: 18px;
						line-height: 22px;
						font-weight: 200;
					}

					.gu-flecha{
						position: absolute;
						top: 0;
						margin-top: 60%;
						background-size: 100%;
						background-repeat: no-repeat;
						background-position: 0 0;
						padding-bottom: 15%;
						width: 15%;

					}

					.gu-atras{
						left: 0%;
						margin-left: -10%;
						background-image: url("../images/header/ico-back.png");
					}

					.gu-adelante{
						right: 0%;
						margin-right: -10%;
						background-image: url("../images/header/ico-next.png");
					}

					.gu-item{
						width: 100%;
						background-position: 0 0;
						background-repeat: no-repeat;
						background-size: 100% auto;
						position: absolute;
						top: 0; left: 0; bottom: 0;
						height: 100%;
						-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
						filter: alpha(opacity=0);
						-moz-opacity: 0;
						-khtml-opacity: 0;
						opacity: 0;
						-moz-transition: opacity 0.4s;
					    -o-transition: opacity 0.4s;
					    -webkit-transition: opacity 0.4s;
					    transition: opacity 0.4s;
					}

					/*.gu-timer0{
						-moz-transition-delay: opacity 1s;
					    -o-transition-delay: opacity 1s;
					    -webkit-transition-delay: opacity 1s;
						transition-delay: 9s;
					}*/

					.gu-item img{
						width: 100%;
					}
								.daaboton_extra {
									position: relative;
									display: inline-block;

									width: auto;
									background: #EB5650;
									color: #FFF;
									border-color: #EB5650;
									padding: 2% 5%;



									margin: 3% 0;


									text-decoration: none;

									-moz-border-radius: 5px;
									-webkit-border-radius: 5px;
									-khtml-border-radius: 5px;
									border-radius: 5px;
								}
}

@media only screen and (min-width: 1400px) and (orientation: landscape) {

}


.login{background-image: url('../images/guia/lm_1.jpg')}.login1{background-image: url('../images/guia/login01.png')}.lm_2_1{background-image: url('../images/guia/lm_2_1.jpg')}.lm_2_2{background-image: url('../images/guia/lm_2_2.jpg')}.lm_3_1{background-image: url('../images/guia/lm_3_1.jpg')}.lm_3_2{background-image: url('../images/guia/lm_3_2.jpg')}.lm_4_1{background-image: url('../images/guia/lm_4_1.jpg')}.lm_5_1{background-image: url('../images/guia/lm_5_1.jpg')}.lm_6_1{background-image: url('../images/guia/lm_6_1.jpg')}.lm_6_2{background-image: url('../images/guia/lm_6_2.jpg')}.lm_7_1{background-image: url('../images/guia/lm_7_1.jpg')}.lm_7_2{background-image: url('../images/guia/lm_7_2.jpg')}.lm_8_1{background-image: url('../images/guia/lm_8_1.jpg')}.lm_9_1{background-image: url('../images/guia/lm_9_1.jpg')}.lm_9_2{background-image: url('../images/guia/lm_9_2.jpg')}.lm_10_1{background-image: url('../images/guia/lm_10_1.jpg')}.lm_10_2{background-image: url('../images/guia/lm_10_2.jpg')}.lm_10_3{background-image: url('../images/guia/lm_10_3.jpg')}
