@font-face {
    font-family: "VW Head";
    font-style: normal;
    font-weight: bold;
    src: url("VWHeadWeb-Bold.eot?#iefix") format("embedded-opentype"), url("VWHeadWeb-Bold.woff") format("woff"), url("VWHeadWeb-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "VW Head";
    font-style: normal;
    font-weight: normal;
    src: url("VWHeadWeb-Regular.eot?#iefix") format("embedded-opentype"), url("VWHeadWeb-Regular.woff") format("woff"), url("VWHeadWeb-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "VW Text";
    font-style: normal;
    font-weight: bold;
    src: url("VWTextWeb-Bold.eot?#iefix") format("embedded-opentype"), url("VWTextWeb-Bold.woff") format("woff"), url("VWTextWeb-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "VW Text";
    font-style: normal;
    font-weight: normal;
    src: url("VWTextWeb-Regular.eot?#iefix") format("embedded-opentype"), url("VWTextWeb-Regular.woff") format("woff"), url("VWTextWeb-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "VW Text";
    font-style: normal;
    src: url("VWTextWeb-Light.eot?#iefix") format("embedded-opentype"), url("VWTextWeb-Light.woff") format("woff"), url("VWTextWeb-Light.ttf") format("truetype");
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
input[type="submit"],input[type="reset"],input[type="button"],button{background:none;border:0;color:inherit;font:inherit;line-height:normal;overflow:visible;padding:0;-webkit-appearance:button;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}input::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0}[role="button"]{color:inherit;cursor:default;display:inline-block;text-align:center;text-decoration:none;white-space:pre;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}

body{
font-family: Arial, Helvetica, sans-serif;
overflow: hidden;
background-color: #cfd0d2;
}

a {line-height: 0}

img {
	width: 100%;
}

.db-datos{
	display: none;
}

.end-message{
	display: none;
}

.wrapper {
	width: 96%;
	position: relative;
	top: 0;
	margin: 0;
	margin-left: 4%;
	background-color: #FFFFFF;
	box-sizing: border-box;
}

.screen-prev{
	position: fixed;
	width: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: 100vh;
    background-color:#FFFFFF;
    z-index:1001;
}


.db-header {
	width: 4%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	box-sizing: border-box;
	z-index: 700;
	background-color: #FFFFFF;
	/*overflow: hidden;*/
}

.header-logo{
	position: relative;
	margin: 30% auto;
	width: 60%;
	padding-bottom: 60%;
	background-image: url("../images/vw-logo-m.jpg");
	background-size: 100% auto;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.header-logo a{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	cursor: pointer;
	text-decoration: none;
}

.db-header h1 span {
    display: none;
}

.db-header a {
	position: absolute;
	
}

.alpha-prev, .bttn-null{
	cursor: default;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;

}

.db-section{
	position: relative;
	width: 100%;
}

.db-content-form {
	width: 100%;
	box-sizing: border-box;
}

.db-content-form h3 {
	font-size: 14px;
	line-height: 16px;
	font-family: "VW Text", Arial, sans-serif;
	color: #000000;
	margin-bottom: 1%;
	font-weight: normal;
}

.mensaje-form {
	font-family: "VW Text", Arial, sans-serif;
	font-size: 23px;
	line-height: 24px;
	color: #000000;
	padding: 0%;
	width: 100%;
	background-color: transparent;
	box-sizing: border-box;
	font-weight: bold;
}

.mensaje-form span{
	font-size: inherit;
	font-size: inherit;
	line-height: inherit;
	color: #005980;
}

.section-item {
	float: left;
	width: 30%;
	margin-right: 3%;
	margin-bottom: 2%;
}

.bttn-submit {
	max-width: 300px;
	background-color: #0099dc;
	cursor: pointer;
	background-position: left center;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.bttn-submit2 {
	background-color: #0099dc;
	cursor: pointer;
	background-position: left center;
	background-size: auto 100%;
	background-repeat: no-repeat;
}


.bttn-submit-ico {
	background-image: url("../images/cars-ico.png");
}

.bttn-submit p, .bttn-submit2 p{
	box-sizing: border-box;
	width: 100%;
	padding: 4% 4% 4% 4%;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	font-family: "VW Head", Arial, sans-serif;
	font-weight: bold;
}

.bttn-continuar{
	width: 30%;
	box-sizing: border-box;
	position: relative;
	margin: 3% auto 5%;
}

.bttn-submit:hover,  .bttn-submit2:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
 	filter: alpha(opacity=50);
  	-moz-opacity: 0.5;
   	-khtml-opacity: 0.5;
   	opacity: 0.5;
}


.legal-box{
	width: 63%;
	box-sizing: border-box;
	
}

.legal-box p{
	font-size: 13px;
	line-height: 16px;
	color: #444444;
	font-family: "VW Text", Arial, sans-serif;
	font-weight: normal;
}

.db-footer{
	box-sizing: border-box;
	background-color: #eeeeee;
	padding: 2% 6% 2% 6%;
}

.footer-bttn{
	float: left;
	width: 23%;
	margin: 0 2% 0 0;
	border-bottom: 1px solid #cccccc;
	cursor: pointer;
}

.footer-bttn:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
 	filter: alpha(opacity=50);
  	-moz-opacity: 0.5;
   	-khtml-opacity: 0.5;
   	opacity: 0.5;
}

.footer-bttn:active{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
 	filter: alpha(opacity=50);
  	-moz-opacity: 0.5;
   	-khtml-opacity: 0.5;
   	opacity: 0.5;
}

.footer-bttn p{
	font-family: "VW Head",Arial,Helvetica,sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 6% 0 6% 5%;
	color: #444444;
	font-size: 13px;
	font-weight: normal;
}

.footer-legal {
	font-family: "VW Head",Arial,Helvetica,sans-serif;
	float: left;
	width: 23%;
	margin: 1% 2% 0 0;
	cursor: pointer;
	padding: 1% 0 1% 1%;
	color: #444444;
	font-size: 13px;
	font-weight: normal;
}

.so-ico {
	background-position: 0 center;
	background-size: auto 80%;
	background-repeat: no-repeat;
}

.so-ico p{
	padding: 6% 0 6% 17%;
}

.so-fb{
	background-image: url("../images/facebook_icon-01.png");
}

.so-tw{
	background-image: url("../images/twitter_icon-01.png");
}

.so-in{
	background-image: url("../images/instagram_icon-01.png");
}

.so-yt{
	background-image: url("../images/youtube_icon-01.png");
}

label {
}

select, option { width: 99%; }

select {
    border: 1px solid #888888;
    background: transparent;
    color: #000000;
    font-size: 14px;
    padding:10px;
    box-sizing: border-box;
    font-family: "VW Text", Arial, sans-serif;
    font-weight: bold;
    /*background: url("../images/2e3ybe1.jpg") no-repeat right center;*/
}

option {
	color: #000000;
}

input {
	width: 99%;
	font-size: 14px;
	background: transparent;
    border: 1px solid #888888;
    padding:10px;
    box-sizing: border-box;
    color: #000000 !important;
    font-weight: bold;
    font-family: "VW Text", Arial, sans-serif;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}

::-webkit-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000000;
}

::-moz-placeholder {
  opacity: 1;
}

input.text {
    border: 1px solid #FFFFFF;
    color: #000000 !important;
    font-family: "VW Text", Arial, sans-serif;
}

input.error {
    background: #eea1a2;
    color: #dd0000;
    font-family: "VW Text", Arial, sans-serif;
}
label.error {
    color: #dd0000;
    font-size: 14px;
    font-family: "VW Text", Arial, sans-serif;
}

sup {font-size:0.5em; vertical-align:super;}

.radio-group input ,   .radio-group select, .radio-group option{
	width: auto;
	box-sizing: border-box;
	margin-top: 10px;
}

.radio-group {
	font-size: 12px;
	color: #000000 !important;
	font-family: "VW Text", Arial, sans-serif;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.rounded-corners {
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.terms-a {
	text-decoration: none;
	color: #bc2026;
}

.preload-class{
	width: 1%;
	height: 1%;
	opacity: 0; 
	position: absolute; 
	top: -9999px; 
	left: -9999px;
}
.preload-class-m{ 

	width: 1%;
	height: 1%;
	opacity: 0; 
	position: absolute; 
	top: -9999px; 
	left: -9999px; 
	display: none;
}

.spiner-loader {
	display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../images/vw-spiner.png");
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media screen and (min-width: 1400px) {
   .db-content-form h3 {
	font-size: 16px;
	line-height: 18px;
	}
}

@media only screen and (max-width: 1200px) and (orientation: landscape){
  /* and (orientation: landscape) */
}

@media only screen and (max-width: 1024px) and (orientation: portrait){
  /* and (orientation: portrait) */
	.section-item {
		width: 47%;
		margin-right: 2%;
		margin-bottom: 2%;
	}

	.footer-bttn{
		width: 47%;
		margin: 0 2% 0 0;
	}

	.footer-legal {
		width: 47%;
		margin: 2% 2% 0 0;
	}

	.db-header {
		position: relative;
		width: 100%;
		bottom: auto;
		padding: 2%;
		box-sizing: border-box;
	}

	.header-logo{
		margin: 0%;
		width: 4%;
		padding-bottom: 4%;
		background-image: url("../images/vw-logo-m.jpg");
		box-sizing: border-box;
	}

	.wrapper {
		width: 100%;
		margin-left: 0%;
	}

	.mensaje-form {
		font-size: 16px;
		line-height: 18px;
		padding: 4%;
		width: 96%;
		background-color: transparent;
		margin: 2% 0 4% 0;
	}
}

@media only screen  and (max-width: 568px) and (orientation: landscape) { 
  /* and (orientation: landscape) */
  	.section-item {
		width: 96%;
		margin-right: 0%;
		margin-bottom: 2%;
	}

	.footer-bttn{
		width: 96%;
		margin: 0 0% 0 0;
	}

	.footer-legal {
		width: 96%;
		margin: 2% 0% 0 0;
	}


	.db-header {
		position: relative;
		width: 100%;
		bottom: auto;
		padding: 2%;
		box-sizing: border-box;
	}

	.header-logo{
		margin: 0%;
		width: 7%;
		padding-bottom: 7%;
		background-image: url("../images/vw-logo-m.jpg");
		box-sizing: border-box;
	}

	.wrapper {
		width: 100%;
		margin-left: 0%;
	}

	.radio-group{
		margin-top: 5%;
	}

	.bttn-submit {
		margin-top: 5%;
		cursor: pointer;
		background-position: left center;
		background-size: auto 100%;
		background-repeat: no-repeat;
	}
	.mensaje-form {
		font-size: 16px;
		line-height: 18px;
		padding: 4%;
		width: 96%;
		background-color: transparent;
		margin: 4% 0 4% 0;
	}

	.bttn-continuar{
		width: 90%;
		box-sizing: border-box;
		position: relative;
		margin: 3% auto 5%;
	}
	.preload-class{ display: none;}
	.preload-class-m{ display: block;}

}

@media only screen and (max-width: 540px) { 
  /*and (orientation: portrait) */
  .section-item {
		width: 96%;
		margin-right: 0%;
		margin-bottom: 2%;
	}

	.footer-bttn{
		width: 96%;
		margin: 0 0% 0 0;
	}

	.footer-legal {
		width: 96%;
		margin: 2% 0% 0 0;
	}


	.db-header {
		position: relative;
		width: 100%;
		bottom: auto;
		padding: 2%;
		box-sizing: border-box;
	}

	.header-logo{
		margin: 0%;
		width: 7%;
		padding-bottom: 7%;
		background-image: url("../images/vw-logo-m.jpg");
		box-sizing: border-box;
	}

	.wrapper {
		width: 100%;
		margin-left: 0%;
	}

	.radio-group{
		margin-top: 5%;
	}

	.bttn-submit {
		margin-top: 5%;
		cursor: pointer;
		background-position: left center;
		background-size: auto 100%;
		background-repeat: no-repeat;
	}
	.mensaje-form {
		font-size: 16px;
		line-height: 18px;
		padding: 4%;
		width: 96%;
		background-color: transparent;
		margin: 4% 0 4% 0;
	}

	.bttn-continuar{
		width: 90%;
		box-sizing: border-box;
		position: relative;
		margin: 3% auto 5%;
	}
	.preload-class{ display: none;}
	.preload-class-m{ display: block;}
}