.db-modal{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 96%;
  margin-left: 4%;
	z-index: 2000;
  display: none;
}

.db-modal-bg{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  top: 0;
  height: 100vh;
  background-color: #000000;
  width: 96%;
  margin-left: 4%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
}

.modal-content{
	width: 100%;
 	position: relative;
  display: none;
}

.modal-terms{
  width: 80%;
  margin: 0 auto;
  color: #ffffff;
  font-size: 12px;
  line-height: 16px;
  box-sizing: border-box;
  padding: 5% 0;

}

.modal-flex{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  flex-direction: column;
  justify-content: center;
}

.wrapper-modal-open{
	position: fixed;
}

.modal-exit{
  width: 4%;
  position: fixed;
  top: 5%;
  right: 2%;
  left: auto;
}

@media screen and (min-width: 1400px) {
   /* big screens*/
}

@media only screen and (max-width: 1200px) and (orientation: landscape){
  /* and (orientation: landscape) */
 
}

@media only screen and (max-width: 1024px) and (orientation: portrait){
  /* and (orientation: portrait) */
  .db-modal{
    width: 100%;
    margin-left:0;
  }

  .db-modal-bg{
    width: 100%;
    margin-left:0;
  }
   .modal-terms{
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    padding: 5% 18% 5% 5%;
  }
  .modal-exit{
    width: 7%;
    position: fixed;
    top: 5%;
    right: 5%;
    left: auto;
  }
  
}

@media only screen  and (max-width: 568px) and (orientation: landscape) { 
  /* and (orientation: landscape) */
   .db-modal{
    width: 100%;
    margin-left:0;
  }

  .db-modal-bg{
    width: 100%;
    margin-left:0;
  }
   .modal-terms{
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    padding: 5% 18% 5% 5%;
  }
  .modal-exit{
    width: 7%;
    position: fixed;
    top: 5%;
    right: 5%;
    left: auto;
  }
}

@media only screen and (max-width: 540px) and (orientation: portrait){ 
  /*and (orientation: portrait) */
   .db-modal{
    width: 100%;
    margin-left:0;
  }

  .db-modal-bg{
    width: 100%;
    margin-left:0;
  }
   .modal-terms{
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    padding: 5% 20% 5% 5%;
  }
  .modal-exit{
    width: 15%;
    position: fixed;
    top: 5%;
    right: 5%;
    left: auto;
  }
}