.dbvw-duo-section{
	position: relative;
	float: left;
	width: 46%;
	box-sizing: border-box;
	margin-left: 3%;
}

.dbvw-duo-section h2 {
	text-align: center;
	padding-bottom: 3%;
}

.dbvw-duo-section p {
	font-size: 1em;
	text-align: center;
	padding-bottom: 3%;
	line-height: 1.2em;
	font-weight: 300;
}

.a-bttn-submit {
	width:280px;
	display: block;
	text-decoration: none;
	box-sizing: border-box;
	margin: 4% auto;
	background-color: #0099dc;
	cursor: pointer;
	background-position: left center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	padding: 20px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	font-family: "VW Head", Arial, sans-serif;
	font-weight: bold;
}

.a-bttn-submit:hover {
	background-color: #0068aa;
}

.db-content-vw{
	background-color: #f3f5f6;
}

.dbvw-secimg{
	position: relative;
 	width: 100%;
  	margin: 0 0 6% 0;
  	box-sizing: border-box;
  	background-image: url("../images/status.gif");
  	background-size: 20px 20px;
  	background-repeat: no-repeat;
  	background-position: center center;
  	background-color: #d9e5ea;
  	padding-bottom: 56%;
  	overflow: hidden;
}

.dbvw-secimg img {
	width: 100%;
	line-height: 0;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.bttn-volver{
	display: none;
}

@media screen and (min-width: 1400px) {

}

@media only screen and (max-width: 1200px) and (orientation: landscape){
  /* and (orientation: landscape) */
}

@media only screen and (max-width: 1024px) and (orientation: portrait){
  /* and (orientation: portrait) */
  
	.dbvw-duo-section{
		width: 99%;
		margin-left: 0%;
	}

	.a-bttn-submit {
		width:80%;
	}
	
}

@media only screen  and (max-width: 568px) and (orientation: landscape) { 
  /* and (orientation: landscape) */ 	
  	.dbvw-duo-section{
		width: 99%;
		margin-left: 0%;
	}
	.a-bttn-submit {
		width:80%;
	}
}

@media only screen and (max-width: 540px) { 
  /*and (orientation: portrait) */
  	.dbvw-duo-section{
		width: 99%;
		margin-left: 0%;
	}
	.a-bttn-submit {
		width:80%;
	}
}